.login-form {
	.err-message {
		color: $gc-color-warn;
		text-align: center;
		border: dotted 1px $gc-color-warn;
		padding: 8px 1em;
		border-radius: 1em;
	}
	.form-input {
		display: block;
		width: 100%;
		background: transparent;
		border: solid 1px #2d4554;
		color: #2d4554;
		margin: 30px 0;
		line-height: 70px;
		text-align: center;
		outline: 0 none;
		font-size: 16px;
		padding: 0 1em;
		border-radius: 4px;
		&.ng-touched {
			color: #fff;
			text-align: center;
		}
		&:focus, &:active {
			color: #fff;
			border-color: #00e2b6;
			text-align: left;
		}
	}
	.form-submit {
		display: block;
		width: 100%;
		background: #00e2b6;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		line-height: 70px;
		font-size: 16px;
		border: 0 none;
		outline: 0 none;
		border-radius: 4px;
		transition: all 0.15s ease;
		letter-spacing: 2px;
		margin: 65px 0 30px;
		&:disabled {
			opacity: 0.5;
		}
		&:focus, &:active {
			box-shadow: 2px inset #f00;
		}
	}
	span.bottom-links {
		display: block;
		text-align: right;
		.link-forgot {
			color: #2d4554;
			border: solid 2px #2d4554;
			border-radius: 3em;
			display: inline-block;
			width: 3em;
			height: 3em;
			line-height: 3em;
			text-align: center;
			font-size: 20px;
			text-decoration: none;
		}
		.link-register {
			text-decoration: none;
			color: #2d4554;
			margin-left: 2em;
		}
	}
}