.playscreen {
	.score-board {
		display: flex;
		margin: 30px 0;
		.score-board-item {
			font-size: 24px;
			width: 50%;
			text-align: center;
			.value {
				margin: 1em;
				color: $gc-color-warn;
			}
		}
	}
	.cards-list {
		max-width: 9999px;
		overflow-x: auto;
		margin: 30px 0;
		padding: 10px 24px;
		box-shadow: inset 0px 0px 64px $gc-bg-sub;
		.card-tile-wrapper-overlay {
			display: inline-flex;
		}
		.card-tile-wrapper {
			transform: scale(0.8);
			.card-tile {
				display: block;
				text-decoration: none;
				cursor: pointer;
				& * {
  				user-select: none;
  			}
				width: 150px;
				// height: 225px;
				margin: 0 auto;
				// border: solid 2px $gc-color-warn;
				font-size: 14px;
				position: relative;
				&.common {
					background-image: url(assets/images/cards/gc-common.png);
				}
				&.defence {
					background-image: url(assets/images/cards/gc-defence.png);
				}
				&.offence {
					background-image: url(assets/images/cards/gc-offence.png);
				}
				&.special {
					background-image: url(assets/images/cards/gc-special.png);
				}
				background-size: 100% 100%;
				padding: 1px 6px;
				color: $gc-color-primary;

				.card-title {
					// border: solid 1px darken($gc-color-warn, 20%);
					span {
						display: block;
						width: 100%;
						font-size: 16px;
						text-align: center;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						line-height: 1.5em;
						height: 2em;
						padding: 0.25em 0.5em;
					}
				}
				.card-picture {
					// border: solid 1px darken($gc-color-warn, 20%);
					box-sizing: content-box;
					height: 0;
					padding-top: 70%;
					position: relative;
					.card-picture-preview {
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
					}
				}
				.card-description {
					// border: solid 1px darken($gc-color-warn, 20%);
					height: 6.5em;
					overflow-y: auto;
					span {
						display: block;
						width: 100%;
						line-height: 1.5em;
						padding: 0.25em 2.5em 0.25em 0.5em;
						word-break: break-all;
					}
				}
				.card-type {
					position: absolute;
					bottom: 0;
					left: calc(100% + 1.5em);
				}
				.card-goldcost {
					position: absolute;
					bottom: 0;
					right: 0;
					transform: translate(30%, 30%);
					background: $gc-bg-main;
					border: solid 4px $gc-color-primary;
					padding: 2px;
					box-sizing: content-box;
					border-radius: 2em;
					box-shadow: 0px 5px 2px 2px lighten($gc-bg-main, 20%);
					span {
						display: block;
						width: 2em;
						height: 2em;
						border-radius: 1em;
						text-align: center;
						line-height: 2em;
						font-weight: bold;
						font-size: 16px;
						background: $gc-color-primary;
						color: $gc-bg-main;
					}
				}
				transition: all 0.15s ease;
				&:hover {
					box-shadow: 0px 0px 6px $gc-color-accent;
				}
			}
		}
	}
	.stack {
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: -10%;
			top: -10%;
			height: 120%;
			width: 120%;
			border: solid 2px $gc-color-warn;
		}
	}

	.play-pane {
		height: 250px;
		border: double 4px $gc-color-accent;
		text-align: center;
		line-height: 250px;
	}
}