.register-form {
	.err-message {
		color: $gc-color-warn;
		text-align: center;
		border: dotted 1px $gc-color-warn;
		padding: 8px 1em;
		border-radius: 1em;
	}
	.form-input {
		display: block;
		width: 100%;
		background: transparent;
		border: solid 1px #2d4554;
		color: #2d4554;
		margin: 30px 0;
		line-height: 70px;
		text-align: center;
		outline: 0 none;
		font-size: 16px;
		padding: 0 1em;
		border-radius: 4px;
		&.ng-touched {
			color: $gc-color-primary;
			text-align: center;
		}
		&:focus, &:active {
			color: $gc-color-primary;
			border-color: $gc-color-accent;
			text-align: left;
		}
		&.input-password {
			line-height: 35px;
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}
	.form-submit {
		display: block;
		width: 100%;
		background: $gc-color-accent;
		color: $gc-color-primary;
		text-transform: uppercase;
		text-align: center;
		line-height: 70px;
		font-size: 16px;
		border: 0 none;
		outline: 0 none;
		border-radius: 4px;
		transition: all 0.15s ease;
		letter-spacing: 2px;
		margin: 65px 0 30px;
		&:disabled {
			opacity: 0.5;
		}
		&:focus, &:active {
			box-shadow: 2px inset #f00;
		}
	}
	span.bottom-links {
		display: block;
		text-align: right;
		.link-login {
			text-decoration: none;
			color: #2d4554;
		}
	}
}