.page-gs-cardgame {
	.play-game-list {
		.classes-table {
			width: 100%;
			border-collapse: collapse;
			td, th {
				background: $gc-bg-sub;
				border: solid 4px $gc-bg-main;
				padding: 1em;
			}
			th {
				text-transform: uppercase;
				font-weight: 400;
				text-align: center;
				color: $gc-color-warn;
				font-size: 18px;
			}
			a {
				color: $gc-color-warn;
				&:hover, &:focus {
					text-decoration: none;
				}
			}
			.play-game-action {
				cursor: pointer;
				transition: all 0.15s ease;
				text-align: center;
				&:hover {
					background: $gc-color-warn;
				}
			}
		}
	}
	.card-tile-preview {
		display: flex;
		.card-tile-section {
			flex-grow: 0;
			.card-play-actions {
				margin-top: 15px;
			}
		}
		.card-actions-section {
			flex-grow: 1;
			.card-tile-actions {
				margin: 0 0 15px 30px;
				display: flex;
				border-left: solid 5px $gc-color-warn;
				padding-left: 1em;
				.card-creation-action-form {
					flex-grow: 0;
					margin-right: 20px;
					.form-group {
						margin-bottom: 0;
						white-space: nowrap;
						span {
							color: $gc-color-warn;
						}
					}
				}
				.card-action-targets {
					flex-grow: 1;
					display: flex;
					.card-action-target {
						display: inline-flex;
						margin:0 15px 15px 0;
						align-items: center;
						border: dotted 2px $gc-color-primary;
						border-radius: 1em;
						overflow: hidden;
						cursor: pointer;
						transition: all 0.15s ease;

						&:hover {
							border-color: $gc-color-warn;
						}
						&.selected {
							border-style: solid;
							border-color: $gc-color-warn;
							background: $gc-color-warn;
						}
						img {
							width: auto;
							height: 40px;
							max-width: 60px;
						}
						span {
							font-size: 12px;
							margin: 0 0.7em;
						}
						* {
							user-select: none;
						}
					}
				}
			}
		}
	}
	.link_leaderboard {
		cursor: pointer;
	}
	.student-list {
		.goback {
			float: right;
			display: inline-block;
			cursor: pointer;
			padding: 0.5em 2em;
			background: $gc-color-warn;
			transition: all 0.15s ease;
			margin-bottom: 1em;
			&:hover {
				background: darken($gc-color-warn, 10%);
			}
		}
		td {
			text-align: center;
		}
	}
	.value-multiplier {
		&:before {
			content: '+ ';
		}
		&:after {
			content: 'x';
			font-size: 0.5em;
		}
		font-size: 0.7em;
		margin-left: 8px;
		color: $gc-color-accent;
	}
}