.page-gt-classes {
	.class-list {
		// column-count: 2;
		margin: 0 0 30px 0;
		font-size: 18px;
		.class-item {
			cursor: pointer;
			margin: 15px 25px;
			color: $gc-color-primary;
			transition: all 0.15s ease;
			padding: 4px 1em 8px;
			display: inline-block;
			border-bottom: dotted 2px transparent;
			span {
				color: $gc-color-warn;
			}
			&:before {
		    content: '';
		    width: 3px;
		    height: 3px;
		    padding: 4px;
		    display: inline-block;
		    border-radius: 25px;
		    border: solid 4px #2d4554;
				background: $gc-bg-main;
				transition: all 0.15s ease;
			}
			&:hover, &.active {
				border-bottom-color: $gc-color-primary;
				// text-decoration: underline;
			}
			&:hover:before,&.active:before {
				border-color: $gc-color-warn;
			}
		}
	}
}