.page-gt-classes {
	.class-groups {
		.group-form {
			color: $gc-color-primary;
			font-size: 16px;
			.form-control {
				display: block;
				width: 100%;
				background: transparent;
				border: solid 1px #2d4554;
				color: #2d4554;
				margin: 5px 0 15px;
				line-height: 70px;
				text-align: center;
				outline: 0 none;
				font-size: 16px;
				padding: 0 1em;
				border-radius: 4px;
				&:focus, &:active {
					color: #fff;
					border-color: #00e2b6;
					text-align: left;
				}
			}
			.btn-save {
				display: block;
				width: 60%;
				background: #00e2b6;
				color: $gc-color-primary;
				text-transform: uppercase;
				text-align: center;
				line-height: 40px;
				font-size: 16px;
				border: 0 none;
				outline: 0 none;
				border-radius: 4px;
				transition: all 0.15s ease;
				letter-spacing: 2px;
				margin: 15px auto 20px;
				&:disabled {
					opacity: 0.5;
				}
				&:focus, &:active {
					box-shadow: 2px inset #f00;
				}
			}
		}
		.btn-reset {
			display: block;
			width: 60%;
			background: $gc-color-warn;
			color: $gc-color-primary;
			text-transform: uppercase;
			text-align: center;
			line-height: 40px;
			font-size: 16px;
			border: 0 none;
			outline: 0 none;
			border-radius: 4px;
			transition: all 0.15s ease;
			letter-spacing: 2px;
			margin: 15px auto 20px;
			&:disabled {
				opacity: 0.5;
			}
			&:focus, &:active {
				box-shadow: 2px inset #f00;
			}
		}
		.groups-list {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.group-item {
				width: 465px;
				background: $gc-bg-sub;
				margin-top: 30px;
				// margin-bottom: 30px;
				box-shadow: 0 0 4px 1px #000;
				border-radius: 4px;
				.group-info {
					color: $gc-color-primary;
					padding: 15px 15px 0;
					.group-status {
						font-size: 32px;
						// margin-right: 0.5em;
						text-transform: uppercase;
						display: flex;
						justify-content: space-around;
						padding: 0 2em;
						text-shadow: 1px 1px 1px;
						span.group-name-label {
							color: $gc-color-warn;
						}
						span.group-score {
							color: $gc-color-accent;
						}
						// .group-name-wrapper {
						// 	span.group-name-label {
						// 		color: $gc-color-accent;
						// 		margin-right: 0.5em;
						// 	}
						// }
						// .group-score-wrapper {
						// 	span.group-score-label {
						// 		color: $gc-color-accent;
						// 		margin-right: 0.5em;
						// 	}
						// }
					}
					.group-member {
						width: 50%;
						column-count: 2;
					}
					// &>div {
					// 	display: inline-block;
					// 	vertical-align: middle;
					// 	margin-bottom: 0.5em;
					// }
				}
				.group-member-photos {
					display: flex;
					flex-wrap: wrap;
					user-select: none;
					padding: 15px; // 15px 100px;
					position: relative;
					&:after {
						content: '+';
						position: absolute;
						bottom: 15px;
						left: 50%;
				    transform: translate(-50%);
				    font-size: 107px;
				    line-height: 70px;
				    width: 70px;
				    text-align: center;
				    border: dotted 2px $gc-color-primary;
				    border-radius: 60px;
				    height: 70px;
				    transition: all 0.3s ease;
				    display: none;
					}
					// display: table-cell;
					.group-member-photo {
						
					}
				}
			}
		}
	}
}


.group-member-photo {
	width: 125px;
	height: 125px;
  // flex: 1 1 28%;
	display: inline-block;
	margin: 10px;
	position: relative;
	&:after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background: rgba(0,0,0,0.5);
		opacity: 0;
		transition: all 0.3s ease;
	}
	.handle-wrapper {
		position: absolute;
		width: 40px;
		height: 40px;
		text-align: center;
		line-height: 40px;
		border-radius: 40px;
		border: dotted 2px #fff;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 3;
		display: none;
		cursor: pointer;
		transition: all 0.3s ease;
	}
	&:not(:only-child):hover {
		&:after {
			opacity: 1;
		}
		.handle-wrapper {
			display: block;
		}
		.group-member-name {
			opacity: 0;
		}
	}
	// margin-bottom: 20px;
	img {
		width: 100%;
		height: 100%;
		display: block;
		box-shadow: 0 0 4px 1px #fff;
		// background: #fff;
	}

	.group-member-name {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1.7em;
		line-height: 1em;
		padding: 0.35em 0;
		text-align: center;
    background: rgba(0,0,0,0.7);
		transition: all 0.3s ease;
	}
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.gu-mirror {
	&:after {
		opacity: 1;
	}
	.handle-wrapper {
		display: block;
	}
}

.gu-unselectable {
	.group-item:hover {
		.group-member-photos:after {
				color: $gc-color-warn !important;
				border-color: $gc-color-warn !important;
		}
	}
}