.groups-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.group-item {
		width: 465px;
		background: $gc-bg-sub;
		padding: 10px 20px 0;
		margin-top: 30px;
		margin-bottom: 30px;
		.group-info {
			color: $gc-color-primary;
			.group-status {
				font-size: 32px;
				margin-right: 0.5em;
				text-transform: uppercase;
				.group-name-wrapper {
					span.group-name-label {
						color: $gc-color-accent;
						margin-right: 0.5em;
					}
				}
				.group-score-wrapper {
					span.group-score-label {
						color: $gc-color-accent;
						margin-right: 0.5em;
					}
				}
			}
			&>div {
				display: inline-block;
				vertical-align: middle;
				margin-bottom: 0.5em;
			}
		}
		.group-member-photos {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.group-member-photo {
				width: 71px;
				height: 71px;
				display: block;
				margin-bottom: 20px;
				img {
					width: 70px; //100%;
					height: 70px; //100%;
					display: block;
				}
			}
		}
	}
}