.students-wrapper {
	margin: 0 0 30px 0;
	.students-table {
		width: 100%;
		font-size: 18px;
		text-align: center;
		border-collapse: collapse;
		td,th {
			background: $gc-bg-sub;
			text-align: center;
			border: solid 4px $gc-bg-main;
			padding: 6px 4px;
		}
		th {
			text-transform: uppercase;
			font-weight: 400;
		}
		a {
			color: $gc-color-warn;
			&:hover, &:focus {
				text-decoration: none;
			}
		}
	}
	.tip-text {
		color: #2d4554;
		margin: 30px 0;
		p {
			margin: 0;
			line-height: 22px;
			font-size: 14px;
		}
	}
}