.page-gt-classes {
	.form-control {
		display: block;
		width: 100%;
		background: transparent;
		border: solid 1px #2d4554;
		color: #2d4554;
		margin: 5px 0 15px;
		line-height: 70px;
		text-align: center;
		outline: 0 none;
		font-size: 16px;
		padding: 0 1em;
		border-radius: 4px;
		&:focus, &:active {
			color: #fff;
			border-color: #00e2b6;
			text-align: left;
		}
	}
	.roll-calls-wrapper {
		.roll-call-list {
			.roll-call-item-wrapper {
				display: block;
				width: 580px;
				margin: 0 auto;
				.roll-call-item {
					display: flex;
					width: 100%;
					height: 140px;
					background: $gc-bg-sub url(/assets/images/roll-call-cards.png) no-repeat 330px center;
					margin-bottom: 30px;
					.profile-photo {
						width: 140px;
						height: 140px;
						margin-right: 1em;
						img {
							width: 100%;
							height: 100%;
						}
					}
					.roll-call-info {
						.student-info {
							font-size: 16px;
							line-height: 20px;
							padding: 4px 0;
							.student-name {
								color: $gc-color-warn;
								text-transform: uppercase;
							}
							.student-title:before, .student-title:after {
								content: '"';
							}
						}
						.action-icon {
							background: $gc-bg-main;
							width: 36px;
							height: 36px;
							color: $gc-color-primary;
							line-height: 36px;
							text-align: center;
							font-size: 24px;
							display: block;
							margin-right: 5px;
							margin-bottom: 5px;
						}
						.action-icon.accept {
							background: url(/assets/images/check.png) no-repeat center center $gc-bg-main;
						}
						.action-icon.cancel {
							background: url(/assets/images/cancel.png) no-repeat center center $gc-bg-main;
						}
						.action-icon.plus {
							background: url(/assets/images/plus.png) no-repeat center center $gc-bg-main;
						}
						.options {
							.action-icon {
								display: inline-block;
							}
						}
						.numbers {
							.action-icon {
								display: inline-block;
							}
						}
					}
				}
			}
		}
	}
	.card-history-list {
		.card-tile-preview {
			display: flex;
			align-items: center;
			.card-tile {
				border: 0 none;
				margin: 0 15px;
			}
			.card-actions-section {
				flex-grow: 1;
				.card-tile-actions {
					margin: 0 0 15px 30px;
					display: flex;
					border-left: solid 5px $gc-color-warn;
					padding-left: 1em;
					.card-creation-action-form {
						flex-grow: 0;
						margin-right: 20px;
						.form-group {
							margin-bottom: 0;
							white-space: nowrap;
							span {
								color: $gc-color-warn;
							}
						}
					}
					.card-action-targets {
						flex-grow: 1;
						display: flex;
						flex-direction: column;
						align-items: center;
						.card-action-target-wrapper {
							margin: 8px 0;
							display: flex;
							align-items: center;
							.card-action-target {
								flex: 0 0 auto;
								display: inline-flex;
								margin:0 15px 0 0;
								align-items: center;
								border: dotted 2px $gc-color-primary;
								border-radius: 1em;
								overflow: hidden;
								cursor: pointer;
								transition: all 0.15s ease;

								&:hover {
									border-color: $gc-color-warn;
								}
								&.selected {
									border-style: solid;
									border-color: $gc-color-warn;
									background: $gc-color-warn;
								}
								img {
									width: auto;
									height: 40px;
									max-width: 60px;
								}
								span {
									font-size: 12px;
									margin: 0 0.7em;
								}
								* {
									user-select: none;
								}
							}
							.btn {
								display: block;
								margin-left: 8px;
								transition: all 0.15s ease;
								&:hover, &:focus, &:active {
									color: #fff;
								}
							}
							.btn-confirm {
								background: $gc-color-accent;
								&:hover {
									background: darken($gc-color-accent, 10%);
								}
							}
							.btn-deny {
								background: $gc-color-warn;
								&:hover {
									background: darken($gc-color-warn, 10%);
								}
							}
						}
					}
				}
			}
		}
	}
	.confirm-actions {
		display: flex;
		flex-direction: column;
		margin-left: 15px;
		.btn-confirm {
			background: $gc-color-accent;
			&:hover {
				background: darken($gc-color-accent, 10%);
			}
		}
		.btn-deny {
			background: $gc-color-warn;
			&:hover {
				background: darken($gc-color-warn, 10%);
			}
		}
		.btn-confirm, .btn-deny {
			outline: 0 none;
			transition: all 0.15s ease;
			border-radius: 0;
			padding: 1em 2em;
			&:hover,&:active,&:focus {
				color: $gc-color-primary;
			}
		}
	}
	.student-record-list {
		.btn-update {
			color: $gc-color-primary;
			outline: 0 none;
			background-color: $gc-color-warn;
			margin: 15px auto 25px;
			display: block;
		}
	}
	.student-book {
		width: 100%;
		font-size: 18px;
		text-align: center;
		border-collapse: collapse;
		td,th {
			background: $gc-bg-sub;
			text-align: center;
			border: solid 4px $gc-bg-main;
			padding: 6px 4px;
		}
		th {
			text-transform: uppercase;
			font-weight: 400;
		}
		a {
			color: $gc-color-warn;
			&:hover, &:focus {
				text-decoration: none;
			}
		}
		input[type=number], input[type=text] {
			display: block;
			text-align: center;
			width: 100%;
			background: transparent;
			border: solid 1px #2d4554;
			color: #2d4554;
			line-height: 2;
			outline: 0 none;
			font-size: 16px;
			padding: 0 1em;
			border-radius: 4px;
			&:focus, &:active {
				color: #fff;
				border-color: #00e2b6;
			}
			&.invalid {
				border-color: $gc-color-warn;
			}
		}
		input[type=text] {
			text-align: left;
		}
		.profile_info {
			display: flex;
			align-items: center;
			img {
				height: 50px;
				width: auto;
				max-width: 80px;
				flex-grow: 0;
			}
			span {
				margin: 0 0.5em;
				flex-grow: 1;
			}
		}
	}
	.bonus-player-list {
		max-width: 9999px;
		overflow-x: auto;
    margin: 30px 0;
    padding: 10px 24px;
    box-shadow: inset 0px 0px 64px $gc-bg-sub;
		.players-list {
			display: inline-flex;
			.bonus-player {
				border: dotted 1px $gc-color-primary;
				width: 150px;
				margin: 30px 10px;
				cursor: pointer;
				transition: all 0.15s ease;
				&.selected {
					border: solid 2px $gc-color-accent;
					box-shadow: 0 0 6px $gc-color-accent;
				}
				.bonus-player-tile {
					text-align: center;
					position: relative;
					padding-top: 100%;

					img {
						position: absolute;
						display: block;
						width: auto;
						height: auto;
						max-width: 100%;
						max-height: 150px;
						top: 0;
						margin: 0 auto;
					}
					span {
						display: block;
						padding: 8px;
					}
				}
			}
		}
	}
	.cards-list-container {
		box-shadow: inset 0px 0px 64px $gc-bg-sub;
		.cards-list-wrapper {
			max-width: 9999px;
			overflow-x: auto;
			margin: 30px 0;
			padding: 10px 24px;
			.cards-list {
				display: inline-flex;
				.card {
					transform: scale(0.8);
					margin: -30px -20px;
					.card-tile {
						border: 0 none;
						margin: 0 15px;
						transition: all 0.15s ease;
						cursor: pointer;
						border: dotted 2px transparent;
						&:hover {
							border: dotted 2px $gc-color-accent;
							box-shadow: 0 0 6px $gc-color-accent;
						}
						&.selected {
							border: solid 2px $gc-color-accent;
							box-shadow: 0 0 6px $gc-color-accent;
						}
					}
				}
			}
		}
	}
	.btn-give-bonus, .btn-update-collection {
		color: $gc-color-primary;
		background: $gc-color-warn;
		padding: 10px 25px;
		transition: all 0.15s ease;
		&:hover {
			background: darken($gc-color-warn, 10%);
		}
	}
}