.page-gt-approval {
	.card-creation {
		.card-form {
			color: $gc-color-warn;
			font-size: 16px;
			.form-control {
				display: block;
				width: 100%;
				background: transparent;
				border: solid 1px #2d4554;
				color: #2d4554;
				margin: 5px 0 15px;
				line-height: 1.5em;
				text-align: center;
				outline: 0 none;
				font-size: 16px;
				padding: 0.25em 1em;
				border-radius: 4px;
				&.ng-touched:not(textarea) {
					color: $gc-color-primary;
					text-align: center;
				}
				&:focus, &:active {
					color: $gc-color-primary;
					border-color: $gc-color-accent;
					text-align: left;
				}
			}
			textarea.form-control {
				height: 6.5em;
				text-align: left;
			}
			.form-submit {
				display: block;
				width: 60%;
				background: $gc-color-accent;
				color: $gc-color-primary;
				text-transform: uppercase;
				text-align: center;
				line-height: 40px;
				font-size: 16px;
				border: 0 none;
				outline: 0 none;
				border-radius: 4px;
				transition: all 0.15s ease;
				letter-spacing: 2px;
				margin: 15px auto 20px;
				&:disabled {
					opacity: 0.5;
				}
				&:focus, &:active {
					box-shadow: 2px inset #f00;
				}
			}
		}
		.card-creation-actions {
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: space-evenly;
			.card-creation-action-form {
				flex: 0 0 280px;
				border: solid 2px $gc-color-accent;
				padding: 1em;
				margin: 0.5em;
			}
		}
	}
}