.page-gt-classes {
	.students-wrapper {
		margin: 0 0 30px 0;
		.list-checkbox {
			margin: 14px 0 8px;
			color: $gc-color-primary;
			font-size: 14px;
			.item-checkbox {
				display: inline-block;
				margin: 4px 12px;
				input {
					margin-right: 4px;
				}
			}
		}
		.btn-save {
			display: block;
			width: 60%;
			background: #00e2b6;
			color: $gc-color-primary;
			text-transform: uppercase;
			text-align: center;
			line-height: 40px;
			font-size: 16px;
			border: 0 none;
			outline: 0 none;
			border-radius: 4px;
			transition: all 0.15s ease;
			letter-spacing: 2px;
			margin: 15px auto 20px;
			&:disabled {
				opacity: 0.5;
			}
			&:focus, &:active {
				box-shadow: 2px inset #f00;
			}
		}
		.btn-edit {
			display: inline-block;
			padding: 2px 20px;
			margin: 0 0 0 25px;
			text-decoration: none;
			cursor: pointer;
			color: $gc-color-primary;
			background: lighten($gc-bg-main, 10%);
			line-height: 25px;
			&:hover {
				background: lighten($gc-bg-main, 20%);
			}
		}
		.students-table {
			width: 100%;
			font-size: 18px;
			text-align: center;
			border-collapse: collapse;
			td,th {
				background: $gc-bg-sub;
				text-align: center;
				border: solid 4px $gc-bg-main;
				padding: 6px 4px;
			}
			th {
				text-transform: uppercase;
				font-weight: 400;
			}
			a {
				color: $gc-color-warn;
				&:hover, &:focus {
					text-decoration: none;
				}
			}
		}
		.tip-text {
			color: #2d4554;
			margin: 30px 0;
			p {
				margin: 0;
				line-height: 22px;
				font-size: 14px;
			}
		}
	}

	.marktypes-wrapper {
		.marktypes-table {
			width: 100%;
			font-size: 18px;
			text-align: center;
			border-collapse: collapse;
			td,th {
				background: $gc-bg-sub;
				text-align: center;
				border: solid 4px $gc-bg-main;
				padding: 6px 4px;
			}
			th {
				text-transform: uppercase;
				font-weight: 400;
			}
			a {
				color: $gc-color-warn;
				&:hover, &:focus {
					text-decoration: none;
				}
			}
			input[type=text] {
				display: block;
				width: 100%;
				background: transparent;
				border: solid 1px #2d4554;
				color: #2d4554;
				line-height: 2;
				outline: 0 none;
				font-size: 16px;
				padding: 0 1em;
				border-radius: 4px;
				text-align: left;
				&.ng-touched {
					color: #fff;
				}
				&:focus, &:active {
					color: #fff;
					border-color: #00e2b6;
				}
				&.invalid {
					border-color: $gc-color-warn;
				}
			}
			.btn-add {
				width: 100%;
				font-size: 1em;
				background: $gc-color-warn;
				color: $gc-color-primary;
				outline: 0 none;
			}
		}
	}
}