<div class="class-list">
	<div class="class-item" (click)="chooseClass()">
		<span>TEST UNIT</span>
		Test1 (2017/Test Class)
	</div>
	<div class="class-item" (click)="chooseClass()">
		<span>TEST UNIT</span>
		Test2 (2017/Test Class)
	</div>
	<div class="class-item" (click)="chooseClass()">
		<span>TEST UNIT</span>
		Test3 (2017/Test Class)
	</div>
	<div class="class-item" (click)="chooseClass()">
		<span>TEST UNIT</span>
		Test4 (2017/Test Class)
	</div>
	<div class="class-item" (click)="chooseClass()">
		<span>TEST UNIT</span>
		Test5 (2017/Test Class)
	</div>
	<div class="class-item" (click)="chooseClass()">
		<span>TEST UNIT</span>
		Test6 (2017/Test Class)
	</div>
	<div class="class-item" (click)="chooseClass()">
		<span>TEST UNIT</span>
		Test7 (2017/Test Class)
	</div>
	<div class="class-item" (click)="chooseClass()">
		<span>TEST UNIT</span>
		Test8 (2017/Test Class)
	</div>
	<div class="class-item" (click)="chooseClass()">
		<span>TEST UNIT</span>
		Test9 (2017/Test Class)
	</div>
	<div class="class-item" (click)="chooseClass()">
		<span>TEST UNIT</span>
		Test10 (2017/Test Class)
	</div>
	<div class="class-item" (click)="chooseClass()">
		<span>TEST UNIT</span>
		Test11 (2017/Test Class)
	</div>
	<div class="class-item" (click)="chooseClass()">
		<span>TEST UNIT</span>
		Test12 (2017/Test Class)
	</div>
	<div class="class-item" (click)="chooseClass()">
		<span>TEST UNIT</span>
		Test13 (2017/Test Class)
	</div>
	<div class="class-item" (click)="chooseClass()">
		<span>TEST UNIT</span>
		Test14 (2017/Test Class)
	</div>
	<div class="class-item" (click)="chooseClass()">
		<span>TEST UNIT</span>
		Test15 (2017/Test Class)
	</div>
	<div class="class-item" (click)="chooseClass()">
		<span>TEST UNIT</span>
		Test16 (2017/Test Class)
	</div>
	<div class="class-item" (click)="chooseClass()">
		<span>TEST UNIT</span>
		Test17 (2017/Test Class)
	</div>
	<div class="class-item" (click)="chooseClass()">
		<span>TEST UNIT</span>
		Test18 (2017/Test Class)
	</div>
	<div class="class-item" (click)="chooseClass()">
		<span>TEST UNIT</span>
		Test19 (2017/Test Class)
	</div>
	<div class="class-item" (click)="chooseClass()">
		<span>TEST UNIT</span>
		Test20 (2017/Test Class)
	</div>
	<div class="class-item" (click)="chooseClass()">
		<span>TEST UNIT</span>
		Test21 (2017/Test Class)
	</div>
	<div class="class-item" (click)="chooseClass()">
		<span>TEST UNIT</span>
		Test22 (2017/Test Class)
	</div>
	<div class="class-item" (click)="chooseClass()">
		<span>TEST UNIT</span>
		Test23 (2017/Test Class)
	</div>
	<div class="class-item" (click)="chooseClass()">
		<span>TEST UNIT</span>
		Test24 (2017/Test Class)
	</div>
</div>
