<ng-container *ngIf="loaded">
	<div class="home-profile">
		<div class="brief-area">
			<div class="avatar-area" [class.no-avatar]="!me.DisplayPicture">
				<img src="{{ getServerAssetUrl(me.DisplayPicture) }}" class="avatar" *ngIf="me.DisplayPicture && !cropping" />
				<img [src]="data.image" class="avatar" *ngIf="data.image && cropping" >
				<!--<div class="overlay" (click)="overlayClicked()"></div>-->
				<div class="overlay"><span class="edit-picture"><i class="fa fa-pencil" aria-hidden="true"></i></span><input type="file" class="input-avatar" accept="image/*" (change)="fileChangeListener($event)" /></div><!-- (change)="fileChange($event)"  -->
				<div class="btn-actions" *ngIf="cropping">
				  <button class="btn btn-primary" (click)="onAvatarAcceptClicked()">Accept</button>
				  <button class="btn btn-danger" (click)="onAvatarCancelClicked()">Cancel</button>
				</div>
			</div>
			<div class="student-info">
				<div class="student-info-item">
					<span class="info-item-name">Name</span>
					<span class="info-item-content">{{ me.DisplayName }}</span>
				</div>
				<div class="student-info-item">
					<span class="info-item-name">Title</span>
					<span class="info-item-content">{{ me.Title?me.Title.Name:'' }}</span>
				</div>
				<div class="student-info-item">
					<span class="info-item-name">Total Points</span>
					<span class="info-item-content">{{ totalPoints }}</span>
				</div>
				<div class="student-info-item">
					<span class="info-item-name">Points Spent</span>
					<span class="info-item-content">{{ totalPointSpent }}</span>
				</div>
				<ng-container *ngIf="selectedClass && loaded_class">
					<div class="student-info-item">
						<span class="info-item-name">Class</span>
						<span class="info-item-content">{{ selectedClass.DateTime | date : 'EEE h:mma' }}</span>
					</div>
					<div class="student-info-item">
						<span class="info-item-name">Class Rank</span>
						<span class="info-item-content">{{ selectedClassRank }}</span>
					</div>
					<div class="student-info-item">
						<span class="info-item-name">Points Behind</span>
						<span class="info-item-content">{{ pointsBehind }}</span>
					</div>
					<div class="student-info-item">
						<span class="info-item-name">Weekly Average</span>
						<span class="info-item-content">{{ getOverallMarkRatio() }}</span>
					</div>
					<div class="student-info-item">
						<span class="info-item-name">Strongest Category</span>
						<span class="info-item-content">{{ getStrongestCategory() }}</span>
					</div>
					<div class="student-info-item">
						<span class="info-item-name">Weakest Category</span>
						<span class="info-item-content">{{ getWeakestCategory() }}</span>
					</div>
				</ng-container>
			</div>
			<div class="clearfix"></div>
			<div class="avatar-edit-area" *ngIf="cropping">
				<div class="avatar-cropper-area">
					<img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
				</div>
				<div class="avatar-crop-preview" *ngIf="data.image">
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header card-header-title" data-background-color="green">
				<h4 class="card-title">Enrolled Courses</h4>
			</div>
			<div class="card-content">
				<div class="class-list">
					<a *ngFor="let classInfo of attendClasses;" class="btn" (click)="viewStatistics(classInfo)" [class.btn-success]="selectedClass && classInfo._id==selectedClass._id">
						{{ classInfo.Name }} ( {{ classInfo.DateTime | date : 'EEE h:mma' }} at {{ classInfo.Room }} )
					</a>
				</div>
				<ng-container *ngIf="selectedClass && loaded_class">
					<div class="row">
						<ng-container *ngFor="let marktype of marktypes;">
	            <div class="col-md-3">
	              <div class="card">
	                <div class="card-header card-header-text" data-background-color="red">
	                	<h4 class="card-title">{{ marktype.Name }}</h4>
	                </div>
	                <div class="card-content">
	                	<div class="text-center">Class Rank: <span class="marktype_rank_{{marktype._id}} text-danger"></span></div>
	                	<div class="ct-chart marktype_{{ marktype._id }}"></div>
	                </div>
	              </div>
	            </div>
	          </ng-container>
	          <div class="col-md-12">
	          	<div class="card">
	          		<div class="card-header card-header-text" data-background-color="blue">
	          			<h4 class="card-title">Week By Week</h4>
	          		</div>
	          		<div class="card-content">
	          			<div class="ct-chart" id="week_by_week_graph"></div>
	          		</div>
	          	</div>
	          </div>
						<ng-container *ngIf="currentPlayer">
							<ng-container *ngIf="currentPlayer.Hand && currentPlayer.Hand.length>0 || currentPlayer.Stack">
								<div class="col-md-12">
									<div class="card">
										<div class="card-header card-header-title" data-background-color="red">
											<h4 class="card-title">My Hand - Stack</h4>
										</div>
										<div class="card-content">
											<div class="row">
												<div class="col-md-6"><h4 class="bg-primary text-center">Gold: {{ currentPlayer.Gold }}</h4></div>
												<div class="col-md-6"><h4 class="bg-primary text-center">Point: {{ currentPlayer.Point }}</h4></div>
											</div>
											<div class="cards-list hand">
												<div class="card-tile-wrapper-overlay">
													<div class="card-placeholder stack card-tile-wrapper" *ngIf="currentPlayer.Stack.length>0">
														<div class="card-tile {{ getCardByCardId(currentPlayer.Stack[0]).Type | lowercase }}">
															<div class="card-title">
																<span>{{ getCardByCardId(currentPlayer.Stack[0]).Title }}</span>
															</div>
															<div class="card-picture">
																<img class="card-picture-preview" src="{{ getServerAssetUrl(getCardByCardId(currentPlayer.Stack[0]).Picture) }}">
															</div>
															<div class="card-description">
																<span>{{ getCardByCardId(currentPlayer.Stack[0]).Description }}</span>
															</div>
															<div class="card-goldcost">
																<span>{{ getCardByCardId(currentPlayer.Stack[0]).GoldCost }}</span>
															</div>
														</div>
													</div>
													<div *ngIf="currentPlayer.Hand.length==0">
														<h4 class="text-danger text-center">You don't have Any Cards left to play!</h4>
													</div>
													<div *ngFor="let card_id of currentPlayer.Hand;" class="card-tile-wrapper" [class.card-selected]="selectedCard?card_id==selectedCard._id:false">
														<a class="card-tile {{ getCardByCardId(card_id).Type | lowercase }}">
															<div class="card-title">
																<span>{{ getCardByCardId(card_id).Title }}</span>
															</div>
															<div class="card-picture">
																<img class="card-picture-preview" src="{{ getServerAssetUrl(getCardByCardId(card_id).Picture) }}">
															</div>
															<div class="card-description">
																<span>{{ getCardByCardId(card_id).Description }}</span>
															</div>
															<div class="card-goldcost">
																<span>{{ getCardByCardId(card_id).GoldCost }}</span>
															</div>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</ng-container>
						</ng-container>

          </div>
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr class="text-danger">
									<td>Week #</td>
									<td>Attendance</td>
									<td *ngFor="let marktype of marktypes;">{{ marktype.Name }}</td>
									<td>Note</td>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let history of markHistory;">
									<td>{{ history.Week }}</td>
									<td>{{ history.Attendance?'/':'' }}</td>
									<td *ngFor="let marktype of marktypes;">{{ history.Marks[getIndexOfMark(history.Marks, marktype._id)].Value || '' }}</td>
									<td>{{ history.Note }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</ng-container>
			</div>
		</div>

	</div>

	<div class="card">
		<div class="card-header card-header-title" data-background-color="red">
			<h4 class="card-title">{{ me.DisplayName }}</h4>
		</div>
		<div class="card-content">
			<div class="row">
				<div class="col col-sm-6 text-center">
					<h5 class="text-danger">New password will be sent to your email address. ({{ me.Email }})</h5>
					<a class="btn btn-danger" (click)="resetPassword()">Reset Password</a>
				</div>
				<div class="col col-sm-6 text-center">
					<h5 class="text-center text-danger">Your account is now in {{ me.IsPrivate ? 'private' : 'public' }}.</h5>
					<a class="btn btn-danger" (click)="togglePrivateInfo()">Make {{ !me.IsPrivate ? 'Private' : 'Public' }}</a>
				</div>
			</div>
		</div>
	</div>

</ng-container>