
	<li>
		<a routerLink="/profile" routerLinkActive="active">Profile</a>
		<ul class="sub-menu">
			<li>
				<a routerLink="/profile/home" routerLinkActive="active">Profile</a>
			</li>
			<li>
				<a routerLink="/profile/avatar" routerLinkActive="active">Profile Pic</a>
			</li>
			<li>
				<a routerLink="/profile/borders" routerLinkActive="active">Borders</a>
			</li>
			<li>
				<a routerLink="/profile/titles" routerLinkActive="active">Titles</a>
			</li>
		</ul>
	</li>
	<li>
		<a routerLink="/class" routerLinkActive="active">Class</a>
		<ul class="sub-menu">
			<li>
				<a routerLink="/class/list" routerLinkActive="active">List</a>
			</li>
			<li>
				<a routerLink="/class/tasks" routerLinkActive="active">Tasks</a>
			</li>
			<li>
				<a routerLink="/class/feedback" routerLinkActive="active">Feedback</a>
			</li>
		</ul>
	</li>
	<li>
		<a routerLink="/cardgame" routerLinkActive="active">Card Game</a>
		<ul class="sub-menu">
			<li>
				<a routerLink="/cardgame/playgame" routerLinkActive="active">Play Game</a>
			</li>
			<li>
				<a routerLink="/cardgame/viewcollection" routerLinkActive="active">View Collection</a>
			</li>
		</ul>
	</li>
	<li>
		<a routerLink="/social" routerLinkActive="active">Social</a>
		<ul class="sub-menu">
			<!--<li>
				<a routerLink="/social/groups" routerLinkActive="active">Groups</a>
			</li>-->
			<li>
				<a routerLink="/social/friends" routerLinkActive="active">Friends</a>
			</li>
		</ul>
	</li>
