<ng-container *ngIf="loaded">
	<ng-container *ngIf="requestList.length==0">

	</ng-container>

	<div class="card">
		<div class="card-header card-header-text" data-background-color="rose">
			<h4 class="card-title">Waiting Request...</h4>
		</div>
		<div class="card-content table-responsive">
			<table class="table">
				<tbody>
					<tr *ngFor="let request of getReceivedRequestList();">
						<td width="100px"><img [src]="getServerAssetUrl(getFriend(request).DisplayPicture)"></td>
						<td class="friend-name-wrapper">
							<span class="pull-left">{{ getFriend(request).DisplayName }}</span>
							<span class="label label-info pull-right">{{ request.createdAt | date: 'short' }}</span>
						</td>
						<td class="text-right">
							<a class="btn btn-info" (click)="acceptFriend(request)">Accept</a> <a class="btn btn-danger" (click)="rejectFriend(request)">Reject</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="card">
		<div class="card-header card-header-text" data-background-color="rose">
			<h4 class="card-title">Friends</h4>
		</div>
		<div class="card-content table-responsive">
			<table class="table">
				<tbody>
					<tr *ngFor="let request of getApprovedRequestList();">
						<td width="100px"><img [src]="getServerAssetUrl(getFriend(request).DisplayPicture)"></td>
						<td class="friend-name-wrapper">
							<span>{{ getFriend(request).DisplayName }}</span>
						</td>
						<td class="text-right">
							<a class="btn btn-danger" (click)="removeFriend(request)">Remove</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="card">
		<div class="card-header card-header-text" data-background-color="rose">
			<h4 class="card-title">Send Friend Request</h4>
		</div>
		<div class="card-content table-responsive">
			<table class="table">
				<tbody>
					<tr *ngFor="let student of getNonFriendsList();">
						<td width="100px"><img [src]="getServerAssetUrl(student.DisplayPicture)"></td>
						<td class="friend-name-wrapper">
							<span>{{ student.DisplayName }}</span>
						</td>
						<td class="text-right">
							<a class="btn btn-info" (click)="addFriendRequest(student._id)"><i class="material-icons"></i>Send Request</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="card">
		<div class="card-header card-header-text" data-background-color="rose">
			<h4 class="card-title">Friend Requests Sent</h4>
		</div>
		<div class="card-content table-responsive">
			<table class="table">
				<tbody>
					<tr *ngFor="let request of getSentRequestList();">
						<td width="100px"><img [src]="getServerAssetUrl(getFriend(request).DisplayPicture)"></td>
						<td>
							<span class="pull-left">{{ getFriend(request).DisplayName }}</span>
							<span class="label label-info pull-right">{{ request.createdAt | date: 'short' }}</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</ng-container>
<div class="friends-list">
	<div *ngIf="requestList.length==0">
		<h1 class="text-warn">You don't have any friends or friend request.</h1>
		<h2 class="text-accent">Go to Class and add friends.</h2>
	</div>
</div>