<div class="roll-calls-wrapper">
	<div class="roll-call-list">
		<div class="roll-call-item-wrapper">
			<div class="roll-call-item">
				<div class="profile-photo">
					<img src="" alt="Profile photo" />
				</div>
				<div class="roll-call-info">
					<div class="student-info">
						<div class="student-name">Zareen Attar</div>
						<div class="student-title">God Of All Thing</div>
					</div>
					<div class="options">
						<div class="action-icon accept"></div>
						<div class="action-icon cancel"></div>
					</div>
					<div class="numbers">
						<div class="action-icon">0</div>
						<div class="action-icon">1</div>
						<div class="action-icon">2</div>
					</div>
				</div>
			</div>
			<div class="roll-call-item">
				<div class="profile-photo">
					<img src="" alt="Profile photo" />
				</div>
				<div class="roll-call-info">
					<div class="student-info">
						<div class="student-name">Aoi Iwata</div>
						<div class="student-title">Lily</div>
					</div>
					<div class="options">
						<div class="action-icon accept"></div>
						<div class="action-icon plus"></div>
					</div>
					<div class="numbers">
						<div class="action-icon">0</div>
						<div class="action-icon">1</div>
						<div class="action-icon">2</div>
					</div>
				</div>
			</div>
			<div class="roll-call-item">
				<div class="profile-photo">
					<img src="" alt="Profile photo" />
				</div>
				<div class="roll-call-info">
					<div class="student-info">
						<div class="student-name">James Maclean</div>
						<div class="student-title">JM</div>
					</div>
					<div class="options">
						<div class="action-icon accept"></div>
						<div class="action-icon cancel"></div>
					</div>
					<div class="numbers">
						<div class="action-icon">0</div>
						<div class="action-icon">1</div>
						<div class="action-icon">2</div>
					</div>
				</div>
			</div>
			<div class="roll-call-item">
				<div class="profile-photo">
					<img src="" alt="Profile photo" />
				</div>
				<div class="roll-call-info">
					<div class="student-info">
						<div class="student-name">Jhon Brown</div>
						<div class="student-title">Lord Of The Sith</div>
					</div>
					<div class="options">
						<div class="action-icon accept"></div>
						<div class="action-icon cancel"></div>
					</div>
					<div class="numbers">
						<div class="action-icon">0</div>
						<div class="action-icon">1</div>
						<div class="action-icon">2</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>