.roll-call-status {
	margin-bottom: 3em;
}

.student-mark-book {
	.form-group {
		margin-top: 0;
		.form-control {
			padding: 0;
		}
	}
}

.card-history {
	.form-group {
		margin: 0;
	}
}

.profile_info {
	cursor: pointer;
}