<div class="roll-calls-wrapper">
	<div class="roll-call-status">
		<h3 class="widget-label text-center text-accent" style="margin-bottom: 1em;">Game Status</h3>
		<div class=""><button class="btn btn-primary" (click)="startGameClicked()" [disabled]="currentClass.Status=='Started' || (currentClass.TotalWeeks==currentClass.Weeks && currentClass.Status=='Stopped')">Start</button> <button class="btn btn-danger" (click)="stopGameClicked()" [disabled]="currentClass.Status!='Started' || currentClass.TotalWeeks!=currentClass.Weeks">Stop</button> <button class="btn btn-warning" (click)="rollCallClicked()" [disabled]="currentClass.Status!='Started' || currentClass.TotalWeeks==currentClass.Weeks">Roll Call</button></div>
		<div>Current Class Status: {{currentClass.Status}}</div>
		<div>Current Week: {{currentClass.Weeks}} out of {{currentClass.TotalWeeks}}</div>
	</div>
	<div class="student-record-list">
		<h3 class="widget-label text-center text-accent" style="margin-bottom: 1em;">Student Record Book</h3>
		<table class="student-book" *ngIf="marktypes.length>0 && currentClass && studentList.length>0 && studentBook.length>0">
			<tr>
				<td></td>
				<td>Attendance</td>
				<td *ngFor="let marktype of marktypes;">{{ marktype.Name }}</td>
				<td>Note</td>
			</tr>
			<tr *ngFor="let student_id of currentClass.Students;">
				<td>{{ studentList[getIndexOfUsers(studentList, student_id)].DisplayName }}</td>
				<td><input type="checkbox" [(ngModel)]="studentBook[getIndexOfMarkHistory(studentBook, student_id)].Attendance" /></td>
				<td *ngFor="let marktype of marktypes;"><input type="text" [(ngModel)]="studentBook[getIndexOfMarkHistory(studentBook, student_id)].Marks[getIndexOfMark(studentBook[getIndexOfMarkHistory(studentBook, student_id)].Marks, marktype._id)].Value" /></td>
				<td><input type="text" [(ngModel)]="studentBook[getIndexOfMarkHistory(studentBook, student_id)].Note" /></td>
			</tr>
		</table>
		<div>
      <button class="btn btn-update" (click)="updateStudentBook()">Update Student Book{{loading}}</button>
    </div>
	</div>
	<div class="card-history-list" *ngIf="currentClass.CardHistory.length>0 && studentList.length>0 && cards.length>0">
		<h3 class="widget-label text-center text-accent" style="margin-bottom: 1em;">UnResolved Cards</h3>
		<div *ngFor="let history of currentClass.CardHistory;" class="card-history">
			<div *ngIf="history.UnResolved>0">
				<div class="card-preview-area">
					<div class="card-tile-preview">
						<h4 class="text-center">
							<span class="source">{{ studentList[getIndexOfUsers(studentList,history.Source)].DisplayName }}</span>
						</h4>
						<div class="card-tile {{ cards[getIndexOfCards(cards,history.Card)].Type | lowercase }}">
							<div class="card-title">
								<span>{{ cards[getIndexOfCards(cards,history.Card)].Title }}</span>
							</div>
							<div class="card-picture">
								<img class="card-picture-preview" src="{{ getServerAssetUrl(cards[getIndexOfCards(cards,history.Card)].Picture) }}">
							</div>
							<div class="card-description">
								<span>{{ cards[getIndexOfCards(cards,history.Card)].Description }}</span>
							</div>
							<div class="card-goldcost">
								<span>{{ cards[getIndexOfCards(cards,history.Card)].GoldCost }}</span>
							</div>
						</div>
						<div class="card-tile-actions" *ngFor="let action of cards[getIndexOfCards(cards,history.Card)].Actions; let ii=index;" [class.activated]="ii<history.Target.length">
							<div class="card-creation-action-form">
							  <div class="form-group">
							    <label>Keyword</label>
				    			<span>{{action.Keyword}}</span>
							  </div>
							  <div class="form-group">
							    <label>Target</label>
				    			<span>{{action.Target}}</span>
							  </div>
							  <div class="form-group">
							    <label>Target Value</label>
				    			<span>{{action.TargetValue}}</span>
							  </div>
							  <div class="form-group">
							    <label>Keyword Value</label>
				    			<span>{{action.KeywordValue}}</span>
							  </div>
							  <div class="form-group" *ngIf="action.Keyword=='Perform Action'">
							    <label>Action Description</label>
				    			<span>{{action.Description}}</span>
							  </div>
							</div>
						</div>
						<div class="confirm-actions">
							<button class="btn btn-confirm" (click)="confirmCardAction(history)">Confirm</button>
							<button class="btn btn-deny" (click)="denyCardAction(history)">Deny</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--<div class="roll-call-list">
		<div class="roll-call-item-wrapper">
			<div class="roll-call-item">
				<div class="profile-photo">
					<img src="" alt="Profile photo" />
				</div>
				<div class="roll-call-info">
					<div class="student-info">
						<div class="student-name">Zareen Attar</div>
						<div class="student-title">God Of All Thing</div>
					</div>
					<div class="options">
						<div class="action-icon accept"></div>
						<div class="action-icon cancel"></div>
					</div>
					<div class="numbers">
						<div class="action-icon">0</div>
						<div class="action-icon">1</div>
						<div class="action-icon">2</div>
					</div>
				</div>
			</div>
		</div>
	</div>-->
</div>