
	<li>
		<a routerLink="/classes" routerLinkActive="active">Classes</a>
		<ul class="sub-menu">
			<li>
				<a routerLink="/classes/choose" routerLinkActive="active">Choose a Class</a>
			</li>
			<li>
				<a routerLink="/classes/students" routerLinkActive="active">Students</a>
			</li>
			<li>
				<a routerLink="/classes/tasks" routerLinkActive="active">Tasks</a>
			</li>
			<li>
				<a routerLink="/classes/groups" routerLinkActive="active">Groups</a>
			</li>
			<li>
				<a routerLink="/classes/rollcall" routerLinkActive="active">Play Screen</a>
			</li>
		</ul>
	</li>
	<li>
		<a routerLink="/approvals" routerLinkActive="active">Approvals</a>
		<ul class="sub-menu">
			<li>
				<a routerLink="/approvals/createcard" routerLinkActive="active">Create a Card</a>
			</li>
			<li>
				<a routerLink="/approvals/viewcollection" routerLinkActive="active">View Collection</a>
			</li>
			<li>
				<a routerLink="/approvals/cards" routerLinkActive="active">Cards</a>
			</li>
		</ul>
	</li>
	<!-- <li>
		<a routerLink="/admin" routerLinkActive="active">Admin</a>
	</li>
 -->