<div *ngIf="detailViewMode==false">
	<div class="class-list">
		<div *ngIf="attendClasses.length>0">
			<table class="classes-table">
				<thead>
					<th>Class Name / Day / Time / Room</th>
					<th>Group</th>
					<th>Class Members</th>
				</thead>
				<tbody>
					<tr *ngFor="let classInfo of attendClasses;">
						<td>{{ classInfo.Name }}<br/>{{ classInfo.DateTime | date: 'short' }}<br/>{{ classInfo.Room }}</td>
						<td><span *ngIf="classInfo.my_group!=null">Group {{ classInfo.my_group.Title }}</span><span *ngIf="classInfo.my_group==null">No Group</span></td>
						<td class="view-member-action" (click)="viewMembers(classInfo)">View</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div *ngIf="attendClasses.length==0">
			<h1>You don't have any classes.</h1>
		</div>
	</div>
</div>
<div *ngIf="detailViewMode==true">
	<div class="class-info clearfix">
		<span class="class-name pull-left">{{ selectedClass.Name }}</span>
		<span class="back-to-list pull-right" (click)="goBackToList()">Go back to List...</span>
	</div>
	<table class="students-table">
		<tbody>
			<tr *ngFor="let student of selectedClass.Students;">
				<td class="img-td"><img src="{{ getServerAssetUrl(studentList[getIndexOfUsers(studentList,student.student_id)].DisplayPicture) }}" alt="{{ studentList[getIndexOfUsers(studentList,student.student_id)].DisplayName }}"></td>
				<td><span class="student-name">{{ studentList[getIndexOfUsers(studentList,student.student_id)].DisplayName }}</span></td>
				<td><span>In Group</span><span class="in-group" [class.ingroupyes]="student.inGroup"><span class="in-group-yes">Y</span><span>/</span><span class="in-group-no">N</span></span></td>
				<td class="friend-status friend-status-{{checkFriendStatus(student.student_id)}}">
					<div *ngIf="checkFriendStatus(student.student_id)=='none'">
						<span>Add Friend</span><span class="add-friend" (click)="addFriendRequest(student.student_id)">+</span>
					</div>
					<div *ngIf="checkFriendStatus(student.student_id)=='waiting'">
						<span>Friend Request is already sent!</span>
					</div>
					<div *ngIf="checkFriendStatus(student.student_id)=='approved'">
						<span>Already Friend!</span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
