<div class="convenor-class-list">
	<div class="row" [class.active-wrapper]="opened">
		<div class="edit-form-wrapper col-md-6">
	    <form #f="ngForm" class="form class-form" *ngIf="opened && selectedClass">
			  <div class="form-group">
			    <label>Name</label>
			    <input type="text" class="form-control" placeholder="Class Name" name="Name" [(ngModel)]="selectedClass.Name" required>
			  </div>
			  <div class="form-group">
			    <label>Date Time</label>
			    <input type="datetime-local" class="form-control" placeholder="" name="DateTime" [(ngModel)]="selectedClass.DateTime" required>
			  </div>
			  <div class="form-group">
			    <label>Room</label>
			    <input type="text" class="form-control" placeholder="Room Info ..." name="Room" [(ngModel)]="selectedClass.Room">
			  </div>
			  <div class="form-group">
			    <label>Teachers</label>
			    <div *ngIf="teachersList.length>0" class="list-checkbox">
			    	<label *ngFor="let teacher of teachersList;" class="item-checkbox">
			    		<input type="checkbox" name="Teacher-{{ teacher._id }}" [(ngModel)]="selectedClass.Teachers[getIndexOfUsers(selectedClass.Teachers, teacher._id)].use" />{{ teacher.DisplayName }}
			    	</label>
			    </div>
			  </div>
	      <button type="submit" *ngIf="!updating" [disabled]="!f.form.valid" class="btn form-submit" (click)="onSubmitCreateClass(f)">Save & Register</button>
	      <button type="submit" *ngIf="updating" [disabled]="!f.form.valid" class="btn form-submit" (click)="onSubmitUpdateClass(f)">Save & Register</button>
	    </form>
		</div>
		<div class="class-actions col-md-6">
			<div (click)="createNewClass()" class="btn-register pull-right" [class.active]="opened"><img src="/assets/images/add-class-button.png" /><span>Create New Class</span></div>
			<div class="clearfix"></div>
			<div (click)="cancelNewClass()" class="btn-cancel pull-right" *ngIf="opened">Cancel</div>
		</div>
	</div>
	<table class="class-list-table" *ngIf="classesList.length>0">
		<thead>
			<tr>
				<th>Class Name</th>
				<th>Date Time</th>
				<th>Teacher/Convenor</th>
				<th>Room</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let classInfo of classesList;">
				<td>{{ classInfo.Name }}</td>
				<td>{{ classInfo.DateTime | date: 'short' }}</td>
				<td>
					<div class="class-teachers" *ngIf="teachersList.length>0">
						<span class="class-teacher" *ngFor="let user of classInfo.Teachers;">{{ teachersList[getIndexOfUsers(teachersList, user)]['DisplayName'] }}</span>
					</div>
				</td>
				<td>{{ classInfo.Room }}</td>
				<td>
					<div class="btn-edit" (click)="editClass(classInfo);">Edit</div>
					<div class="btn-remove" (click)="removeClass(classInfo);">Remove</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>