<div class="card-creation">
	<form #f="ngForm">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-icon" data-background-color="rose">
            <i class="material-icons">perm_identity</i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Edit Profile -
              <small class="category">Complete your profile</small>
            </h4>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group label-floating">
                  <label class="control-label">Company (disabled)</label>
                  <input type="text" class="form-control" disabled>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group label-floating">
                  <label class="control-label">Username</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group label-floating">
                  <label class="control-label">Email address</label>
                  <input type="email" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Fist Name</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Last Name</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group label-floating">
                  <label class="control-label">Adress</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group label-floating">
                  <label class="control-label">City</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group label-floating">
                  <label class="control-label">Country</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group label-floating">
                  <label class="control-label">Postal Code</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>About Me</label>
                  <div class="form-group label-floating">
                    <label class="control-label"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                    <textarea class="form-control" rows="5"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-rose pull-right">Update Profile</button>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="#pablo">
              <img class="img" src="../../assets/img/faces/marc.jpg" />
            </a>
          </div>
          <div class="card-content">
            <h6 class="category text-gray">CEO / Co-Founder</h6>
            <h4 class="card-title">Alec Thompson</h4>
            <p class="description">
            	Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
            </p>
            <a href="#pablo" class="btn btn-rose btn-round">Follow</a>
          </div>
        </div>
      </div>
  	</div>
	</form>
</div>

<div class="card-creation clearfix">
  <form #f="ngForm" class="form card-form">
		<div class="card-preview-area col-md-6">
			<div class="card-preview-wrapper">
				<div class="card-tile-preview">
					<h4 class="text-center">Preview</h4>
					<div class="card-tile {{ selectedCard.Type | lowercase }}">
						<div class="card-title">
							<span>{{ selectedCard.Title }}</span>
						</div>
						<div class="card-picture">
							<img class="card-picture-preview" src="{{ getServerAssetUrl(selectedCard.Picture) }}" *ngIf="selectedCard.Picture && !cropping" />
							<img [src]="data.image" class="card-picture-preview" *ngIf="data.image && cropping" >
						</div>
						<div class="card-description">
							<span>{{ selectedCard.Description }}</span>
						</div>
						<div class="card-type">
							<span>{{ selectedCard.Type }}</span>
						</div>
						<div class="card-goldcost">
							<span>{{ selectedCard.GoldCost }}</span>
						</div>
					</div>
				</div>

	      <button type="submit" [disabled]="(!f.form.valid || !selectedFile) && !checkCardActions()" class="btn btn-rose btn-lg" (click)="onSubmitCreateCard(f)">Save</button>
	    </div>
		</div>
		<div class="card-creation-form col-md-6">
		  <div class="form-group">
		    <label>Title</label>
		    <input type="text" class="form-control" placeholder="Card Title" name="Title" [(ngModel)]="selectedCard.Title" required>
		  </div>
		  <div class="form-group">
		    <label>Description</label>
		    <textarea class="form-control" placeholder="Card Description" name="Description" [(ngModel)]="selectedCard.Description" required></textarea>
		  </div>
		  <div class="form-group">
		    <label>Type</label>
		    <select class="form-control" name="Type" [(ngModel)]="selectedCard.Type" required>
          <option value="" selected>Choose Type ...</option>
          <option *ngFor="let t of valueList.types" [value]="t">{{t}}</option>
		    </select>
		  </div>
		  <div class="form-group">
		    <label>Picture</label>
		    <input type="file" class="form-input-file" name="Picture" accept="image/*" (change)="fileChangeListener($event)" required>
				<div class="avatar-edit-area" *ngIf="cropping">
					<div class="avatar-cropper-area">
						<img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
					</div>
					<div class="avatar-crop-preview" *ngIf="data.image">
					</div>
				</div>
		  </div>
		  <div class="form-group">
		    <label>Gold Cost</label>
		    <!--<input type="number" class="form-control" name="GoldCost" step=1 min=0 [(ngModel)]="selectedCard.GoldCost" required>-->
		    <select class="form-control" name="GoldCost" [(ngModel)]="selectedCard.GoldCost" required>
          <option value="0" selected>Free</option>
          <option *ngFor="let t of valueList.goldcosts" [value]="t">{{t}}</option>
		    </select>
		  </div>
		  <div class="form-group">
		    <label>Rarity</label>
		    <select class="form-control" name="Rarity" [(ngModel)]="selectedCard.Rarity" required (change)="getCardActions()">
          <option value="" selected>Choose Rarity ...</option>
          <option *ngFor="let r of valueList.rarity" [value]="r">{{r}}</option>
		    </select>
		  </div>
		</div>
		<div class="clearfix"></div>
		<div class="card-creation-form col-lg-12" *ngIf="selectedCard.Actions.length>0">
			<h4 class="text-center">Actions</h4>
			<div class="card-creation-actions">
				<div class="card-creation-action-form" *ngFor="let action of selectedCard.Actions; let ii=index;">
				  <div class="form-group">
				    <label>Keyword</label>
				    <select class="form-control" name="Keyword-{{ii}}" [(ngModel)]="action.Keyword" required>
		          <option value="" selected>Choose Keyword ...</option>
		          <optgroup label="Conditional">
		          	<option *ngFor="let t of valueList.keywords.Conditional" [value]="t">{{t}}</option>
		          </optgroup>
		          <optgroup label="Auto">
		          	<option *ngFor="let t of valueList.keywords.Auto" [value]="t">{{t}}</option>
		          </optgroup>
		          <optgroup label="Manual">
		          	<option *ngFor="let t of valueList.keywords.Manual" [value]="t">{{t}}</option>
		          </optgroup>
				    </select>
				  </div>
				  <div class="form-group" *ngIf="getCondition_Target(action)">
				    <label>Target</label>
				    <select class="form-control" name="Target-{{ii}}" [(ngModel)]="action.Target" required>
		          <option value="" selected>Choose Target ...</option>
		          <option *ngFor="let t of getParams_Target(ii,action)" [value]="t">{{t}}</option>
				    </select>
				  </div>
				  <div class="form-group" *ngIf="getCondition_TargetValue(action)">
				    <label>Target Value</label>
				    <select class="form-control" name="TargetValue-{{ii}}" [(ngModel)]="action.TargetValue" required>
		          <option *ngFor="let t of getParams_TargetValue(ii,action)" [value]="t">{{t}}</option>
				    </select>
				  </div>
				  <div class="form-group" *ngIf="getCondition_ValueType(action)">
				    <label>Value Type</label>
				    <select class="form-control" name="ValueType-{{ii}}" [(ngModel)]="action.ValueType" required>
		          <option *ngFor="let t of getParams_ValueType(ii,action)" [value]="t">{{t}}</option>
				    </select>
				  </div>
				  <div class="form-group" *ngIf="getCondition_KeywordValue(action)">
				    <label>Keyword Value</label>
				    <select class="form-control" name="KeywordValue-{{ii}}" [(ngModel)]="action.KeywordValue" required *ngIf="action.ValueType=='Any'">
		          <option *ngFor="let t of getParams_KeywordValue()" [value]="t">{{t}}</option>
				    </select>
				    <input class="form-control" type="number" name="KeywordValue-{{ii}}" min="0" max="100" [(ngModel)]="action.KeywordValue" required *ngIf="action.ValueType=='Percentage'">
				  </div>
				  <div class="form-group" *ngIf="getCondition_ValueMultiple(action)">
				  	<label>Multiple Value</label>
				  	<input class="form-control" type="number" name="ValueMultiple-{{ii}}" [(ngModel)]="action.ValueMultiple" required>
				  </div>
				  <div class="form-group" *ngIf="getCondition_ValueDivide(action)">
				  	<label>Divide Value</label>
				  	<input class="form-control" type="number" name="ValueDivide-{{ii}}" [(ngModel)]="action.ValueDivide" required>
				  </div>
				  <div class="form-group" *ngIf="getCondition_Description(action)">
				    <label>Action Description</label>
				    <textarea class="form-control" placeholder="Action Description" name="ActionDescription-{{ii}}" [(ngModel)]="action.Description" required></textarea>
				  </div>
				</div>
			</div>
		</div>
  </form>
</div>