<div class="topnav-wrapper">
	<div class="topnav-bar">
		<div class="topnav-logo">
			<img src="../../../assets/images/logo.png" alt="logo" class="logo" />
		</div>
		<div class="topnav-menu profile-menu">
			<ul class="top-menu menu-user">
				<li>
					<span class="user-name">{{ getUserDisplayName() }}</span>
					<a routerLink="/logout" routerLinkActive="active">Logout</a>
				</li>
			</ul>
		</div>
		<div class="topnav-menu">
			<ul class="top-menu menu-{{userRole | lowercase}}">
				<app-header-student *ngIf="isStudent()" class="top-menu-items"></app-header-student>
				<app-header-convenor *ngIf="isConvenor()" class="top-menu-items"></app-header-convenor>
				<app-header-teacher *ngIf="isTeacher()" class="top-menu-items"></app-header-teacher>
			</ul>
		</div>
	</div>
</div>