<div class="topnav-wrapper">
	<div class="topnav-bar">
		<div class="topnav-logo">
			<img src="../../../assets/img/logo.png" alt="logo" class="logo" />
		</div>
		<div class="topnav-menu profile-menu">
			<ul class="top-menu menu-student">
				<li>
					<a routerLink="/logout" routerLinkActive="active">Logout</a>
				</li>
			</ul>
		</div>
		<div class="topnav-menu">
			<div *ngIf="isStudent()">
				<app-header-student></app-header-student>
			</div>
			<div *ngIf="isTeacher()">
				<app-header-teacher></app-header-teacher>
			</div>
			<div *ngIf="isConvenor()">
				<app-header-convenor></app-header-convenor>
			</div>
		</div>
	</div>
</div>