<div class="playscreen" *ngIf="loaded">

	<div class="cards-list pickup" *ngIf="currentGame.PickUp && currentGame.PickUp.length>0">
		<div class="label">PickUp</div>
		<div class="card-tile-wrapper-overlay">
			<div *ngFor="let card_id of currentGame.PickUp;" class="card-tile-wrapper">
				<a class="card-tile {{ getCardByCardId(card_id).Type | lowercase }}" (click)="onClickedPickUp(card_id)">
					<div class="card-title">
						<span>{{ getCardByCardId(card_id).Title }}</span>
					</div>
					<div class="card-picture">
						<img class="card-picture-preview" src="{{ getServerAssetUrl(getCardByCardId(card_id).Picture) }}">
					</div>
					<div class="card-description">
						<span>{{ getCardByCardId(card_id).Description }}</span>
					</div>
					<div class="card-goldcost">
						<span>{{ getCardByCardId(card_id).GoldCost }}</span>
					</div>
				</a>
			</div>
		</div>
	</div>

	<div class="score-board">
		<div class="score-board-item score-point"><span>Point<span class="value-multiplier" *ngIf="getMultiplierValue(currentPlayer.Multiplier)>0">{{ getMultiplierValue(currentPlayer.Multiplier) }}</span></span><span class="value">{{ currentPlayer && currentPlayer.Point }}</span></div>
		<div class="score-board-item score-gold"><span>Gold</span><span class="value">{{ currentPlayer && currentPlayer.Gold }}</span></div>
		<div class="score-board-item score-defence"><span>Defence</span><span class="value">{{ currentPlayer && currentPlayer.Defence }}</span></div>
	</div>

	<div class="play-pane">
		<h4>Cards played against me</h4>
		<div class="cards-list">
			<div class="card-tile-wrapper-overlay">
				<div *ngFor="let card_id of historyCardsAgainstMe;" class="card-tile-wrapper">
					<a class="card-tile {{ getCardByCardId(card_id).Type | lowercase }}">
						<div class="card-title">
							<span>{{ getCardByCardId(card_id).Title }}</span>
						</div>
						<div class="card-picture">
							<img class="card-picture-preview" src="{{ getServerAssetUrl(getCardByCardId(card_id).Picture) }}">
						</div>
						<div class="card-description">
							<span>{{ getCardByCardId(card_id).Description }}</span>
						</div>
						<div class="card-goldcost">
							<span>{{ getCardByCardId(card_id).GoldCost }}</span>
						</div>
					</a>
				</div>
			</div>
		</div>
		<h4>Cards played by me</h4>
		<div class="cards-list">
			<div class="card-tile-wrapper-overlay">
				<div *ngFor="let card_id of historyCardsByMe;" class="card-tile-wrapper">
					<a class="card-tile {{ getCardByCardId(card_id).Type | lowercase }}">
						<div class="card-title">
							<span>{{ getCardByCardId(card_id).Title }}</span>
						</div>
						<div class="card-picture">
							<img class="card-picture-preview" src="{{ getServerAssetUrl(getCardByCardId(card_id).Picture) }}">
						</div>
						<div class="card-description">
							<span>{{ getCardByCardId(card_id).Description }}</span>
						</div>
						<div class="card-goldcost">
							<span>{{ getCardByCardId(card_id).GoldCost }}</span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="card-selected-view" *ngIf="selectedCard">
		<h4>Selected Card</h4>
		<div class="card-preview-area">
			<div class="card-tile-preview">
				<div class="card-tile-section">
					<div class="card-tile {{ selectedCard.Type | lowercase }}">
						<div class="card-title">
							<span>{{ selectedCard.Title }}</span>
						</div>
						<div class="card-picture">
							<img class="card-picture-preview" src="{{ getServerAssetUrl(selectedCard.Picture) }}">
						</div>
						<div class="card-description">
							<span>{{ selectedCard.Description }}</span>
						</div>
						<div class="card-goldcost">
							<span>{{ selectedCard.GoldCost }}</span>
						</div>
					</div>
					<div class="text-center card-play-actions">
						<button class="btn btn-primary" (click)="onClickedCardPlay()">Play</button>
						<button class="btn btn-danger" (click)="onClickedCardCancel()">Cancel</button>
					</div>
				</div>
				<div class="card-actions-section">
					<div class="card-tile-actions" *ngFor="let action of selectedCard.Actions; let ii=index;">
						<div class="card-creation-action-form">
						  <div class="form-group">
						    <label>Keyword</label>
						    <span>{{ action.Keyword }}</span>
						  </div>
						  <div class="form-group" *ngIf="getCondition_Target(action)">
						    <label>Target</label>
						    <span>{{ action.Target }}</span>
						  </div>
						  <div class="form-group" *ngIf="getCondition_TargetValue(action)">
						    <label>Target Value</label>
						    <span>{{ action.TargetValue }}</span>
						  </div>
						  <div class="form-group" *ngIf="getCondition_ValueType(action)">
						    <label>Value Type</label>
						    <span>{{ action.ValueType }}</span>
						  </div>
						  <div class="form-group" *ngIf="getCondition_KeywordValue(action)">
						    <label>Keyword Value</label>
						    <span>{{ action.KeywordValue }}</span>
						  </div>
						  <div class="form-group" *ngIf="getCondition_ValueMultiple(action)">
						  	<label>Multiple Value</label>
						    <span>{{ action.ValueMultiple }}</span>
						  </div>
						  <div class="form-group" *ngIf="getCondition_ValueDivide(action)">
						  	<label>Divide Value</label>
						    <span>{{ action.ValueDivide }}</span>
						  </div>
						  <div class="form-group" *ngIf="getCondition_Description(action)">
						    <label>Action Description</label>
						    <span>{{ action.Description }}</span>
						  </div>
						</div>
						<div class="card-action-targets">
							<div *ngIf="action.Target=='Self'">
								<div class="card-action-target selected">
									<img src="{{ getServerAssetUrl(me.DisplayPicture) }}"><span>{{ me.DisplayName }}</span>
								</div>
							</div>
							<div *ngIf="action.Target=='Friends'">
								<div class="card-action-target" *ngFor="let player of list_friends;" (click)="chooseTargetsPerAction(ii, player)" [class.selected]="isTargetPerAction(ii, player)">
									<img src="{{ getServerAssetUrl(getPlayerByID(player).DisplayPicture) }}"><span>{{ getPlayerByID(player).DisplayName }}</span>
								</div>
							</div>
							<div *ngIf="action.Target=='Others'">
								<div *ngIf="action.Keyword=='Add Friend'">
									<div class="card-action-target" *ngFor="let player of array_diff(list_others,list_friends);" (click)="chooseTargetsPerAction(ii, player)" [class.selected]="isTargetPerAction(ii, player)">
										<img src="{{ getServerAssetUrl(getPlayerByID(player).DisplayPicture) }}"><span>{{ getPlayerByID(player).DisplayName }}</span>
									</div>
								</div>
								<div *ngIf="action.Keyword!='Add Friend'">
									<div class="card-action-target" *ngFor="let player of list_others;" (click)="chooseTargetsPerAction(ii, player)" [class.selected]="isTargetPerAction(ii, player)">
										<img src="{{ getServerAssetUrl(getPlayerByID(player).DisplayPicture) }}"><span>{{ getPlayerByID(player).DisplayName }}</span>
									</div>
								</div>
							</div>
							<div *ngIf="action.Target!='Self' && action.Target!='Friends' && action.Target!='Others'">
								<div class="card-action-target selected" *ngFor="let player of selectedCardTargets[ii];">
									<img src="{{ getServerAssetUrl(getPlayerByID(player).DisplayPicture) }}"><span>{{ getPlayerByID(player).DisplayName }}</span>
								</div>
							</div>
						</div>
						<div class="card-action-targets-marktype" *ngIf="action.Keyword=='Specific Mark'">
							<select [(ngModel)]="selectedCardMarkTypeTargets[ii]">
								<option *ngFor="let t of marktypes" [value]="t._id">{{ t.Name }}</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="cards-list hand" *ngIf="currentPlayer.Hand && currentPlayer.Hand.length>0 || currentPlayer.Stack">
		<div class="card-tile-wrapper-overlay">
			<div class="card-placeholder stack card-tile-wrapper" *ngIf="currentPlayer.Stack.length>0">
				<div class="card-tile {{ getCardByCardId(currentPlayer.Stack[0]).Type | lowercase }}">
					<div class="card-title">
						<span>{{ getCardByCardId(currentPlayer.Stack[0]).Title }}</span>
					</div>
					<div class="card-picture">
						<img class="card-picture-preview" src="{{ getServerAssetUrl(getCardByCardId(currentPlayer.Stack[0]).Picture) }}">
					</div>
					<div class="card-description">
						<span>{{ getCardByCardId(currentPlayer.Stack[0]).Description }}</span>
					</div>
					<div class="card-goldcost">
						<span>{{ getCardByCardId(currentPlayer.Stack[0]).GoldCost }}</span>
					</div>
				</div>
			</div>
			<div *ngIf="currentPlayer.Hand.length==0">
				<h3>No cards left to play!</h3>
			</div>
			<div *ngFor="let card_id of currentPlayer.Hand;" class="card-tile-wrapper" [class.card-selected]="selectedCard?card_id==selectedCard._id:false">
				<a class="card-tile {{ getCardByCardId(card_id).Type | lowercase }}" (click)="onClickedHand(card_id)">
					<div class="card-title">
						<span>{{ getCardByCardId(card_id).Title }}</span>
					</div>
					<div class="card-picture">
						<img class="card-picture-preview" src="{{ getServerAssetUrl(getCardByCardId(card_id).Picture) }}">
					</div>
					<div class="card-description">
						<span>{{ getCardByCardId(card_id).Description }}</span>
					</div>
					<div class="card-goldcost">
						<span>{{ getCardByCardId(card_id).GoldCost }}</span>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>