<ng-container *ngIf="loaded">
	<div class="row">
		<div class="col-md-12">
			<div class="card">
	      <div class="card-header card-header-icon" data-background-color="rose">
	        <i class="material-icons">assignment</i>
	      </div>
	      <div class="card-content">
	        <h4 class="card-title">My Cards
		        <button class="btn btn-rose btn-xs pull-right" (click)="onClickedCreateCard()"><i class="material-icons">add</i>Create a New Card</button>
		      </h4>
	        <ng-container *ngIf="cardList.length>0">
		        <div class="content table-responsive">
		        	<table class="table">
								<thead>
									<tr>
										<th>Title</th>
										<th>Description</th>
										<th>Fantasy Type</th>
										<th>Rarity</th>
										<th>Status</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let card of cardList;" [class.active]="selectedCard && (card._id == selectedCard._id)">
										<td>{{ card.Title }}</td>
										<td>{{ card.Description }}</td>
										<td>{{ card.Type }}</td>
										<td>{{ card.Rarity }}</td>
										<td>
											<div class="" *ngIf="card.Approved">Approved</div>
											<div class="" *ngIf="!card.Approved">Pending</div>
										</td>
										<td class="td-actions text-right">
											<button class="btn btn-success" (click)="onClickedEditCard(card)" [disabled]="editMode" *ngIf="!card.Approved"><i class="material-icons">edit</i>Edit</button>
											<button class="btn btn-danger" (click)="onClickedDeleteCard(card)" [disabled]="editMode" *ngIf="!card.Approved"><i class="material-icons">close</i>Delete</button>
										</td>
									</tr>
								</tbody>
		        	</table>
		        </div>
		      </ng-container>
		      <ng-container *ngIf="cardList.length==0">
						<h4 class="text-center text-danger">There are no cards created.</h4>
		      </ng-container>
	      </div>
			</div>
		</div>
	</div>
</ng-container>

<ng-container *ngIf="selectedCard && editMode">
	<div class="card-creation">
		<form #f="ngForm">
	    <div class="row">
	    	<div class="col-md-12">
	    		<h4 class="text-center">Create/Update Card</h4>
	    	</div>
	      <div class="col-md-8">
	        <div class="card">
	          <div class="card-header card-header-text" data-background-color="rose">
	            <h4>Card Information</h4>
	          </div>
	          <div class="card-content">
	            <div class="row">
	              <div class="col-md-3 col-sm-6">
	                <div class="form-group">
	                  <label class="control-label">Title</label>
	                  <input type="text" class="form-control" name="Title" [(ngModel)]="selectedCard.Title" required>
	                </div>
	              </div>
	              <div class="col-md-3 col-sm-6">
	                <div class="form-group">
	                  <label class="control-label">Type</label>
								    <select class="form-control" name="Type" [(ngModel)]="selectedCard.Type" required>
						          <option value="" selected>Choose Type ...</option>
						          <option *ngFor="let t of valueList.types" [value]="t">{{t}}</option>
								    </select>
	                </div>
	              </div>
	              <div class="col-md-3 col-sm-6">
	                <div class="form-group">
	                  <label class="control-label">Gold Cost</label>
								    <select class="form-control" name="GoldCost" [(ngModel)]="selectedCard.GoldCost" required>
						          <option value="0" selected>Free</option>
						          <option *ngFor="let t of valueList.goldcosts" [value]="t">{{t}}</option>
								    </select>
	                </div>
	              </div>
	              <div class="col-md-3 col-sm-6">
	                <div class="form-group">
	                  <label class="control-label">Rarity</label>
								    <select class="form-control" name="Rarity" [(ngModel)]="selectedCard.Rarity" required (change)="getCardActions()">
						          <option value="" selected>Choose Rarity ...</option>
						          <option *ngFor="let r of valueList.rarity" [value]="r">{{r}}</option>
								    </select>
	                </div>
	              </div>
	              <div class="col-md-12">
	                <div class="form-group label-floating">
	                  <label class="control-label">Description</label>
			    					<textarea class="form-control" name="Description" [(ngModel)]="selectedCard.Description" required></textarea>
	                </div>
	              </div>
	            </div>
	            <div class="row">
	              <div class="col-md-5">
	              	<br/>
	              	<legend>Picture</legend>
                  <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                      <div>
                          <span class="btn btn-rose btn-round btn-file">
                              <span class="fileinput-new">Select image</span>
                              <span class="fileinput-exists">Change</span>
                              <input type="file" name="Picture" accept="image/*" (change)="fileChangeListener($event)" required />
                          </span>
                          <!-- <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a> -->
                      </div>
                  </div>
	                <!-- <div class="form-group">
	                  <label>Picture</label>
								    <div class="form-group">
											<div class="overlay"><span class="edit-picture"><i class="fa fa-pencil" aria-hidden="true"></i></span><input type="file" class="input-avatar" accept="image/*" (change)="fileChangeListener($event)" /></div>
								    	<input type="file" class="form-input-file" name="Picture" accept="image/*" (change)="fileChange($event)" required>
								    </div>
	                </div> -->
	              </div>
								<ng-container *ngIf="cropping">
	              	<div class="col-md-7">
										<div class="image-cropper-area">
											<img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
										</div>
										<div class="image-crop-preview" *ngIf="data.image"></div>
	              	</div>
								</ng-container>
	            </div>
	            <div class="row">
	            	<div class="col-md-12">
	                <div class="form-group label-floating">
	                  <label class="control-label">Card Background Info</label>
			    					<textarea class="form-control" name="BackgroundInfo" [(ngModel)]="selectedCard.BackgroundInfo"></textarea>
	                </div>
	            	</div>
	            </div>
	          </div>
	        </div>
	      </div>
	      <div class="col-md-4">
	        <div class="card">
	          <div class="card-content">
							<div class="card-preview-area">
								<div class="card-preview-wrapper">
									<div class="card-tile-preview">
										<h4 class="text-center">Preview</h4>
										<div class="card-tile {{ selectedCard.Type | lowercase }}">
											<div class="card-title">
												<span>{{ selectedCard.Title }}</span>
											</div>
											<div class="card-picture">
												<!-- <img class="card-picture-preview" src="{{ getServerAssetUrl(selectedCard.Picture) }}"> -->
												<img class="card-picture-preview" src="{{ getServerAssetUrl(selectedCard.Picture) }}" *ngIf="selectedCard.Picture && !cropping" />
												<img class="card-picture-preview" [src]="data.image" *ngIf="data.image && cropping" />
											</div>
											<div class="card-description">
												<span>{{ selectedCard.Description }}</span>
											</div>
											<div class="card-type">
												<span>{{ selectedCard.Type }}</span>
											</div>
											<div class="card-goldcost">
												<span>{{ selectedCard.GoldCost }}</span>
											</div>
										</div>
									</div>
									<div class="text-center">
							      <button type="submit" [disabled]="!f.form.valid && !checkCardActions()" class="btn btn-success" (click)="onSubmitUpdateCard(f)">Save</button>
							      <button type="submit" class="btn btn-danger" (click)="onCancelUpdateCard()">Cancel</button>
							    </div>
						    </div>
							</div>
	          </div>
	        </div>
	      </div>
	      <ng-container *ngIf="selectedCard.Actions.length>0">
		      <div class="card-creation-form col-md-12">
						<h4>Actions</h4>
						<div class="card-creation-actions">
							<div class="card-creation-action-form" *ngFor="let action of selectedCard.Actions; let ii=index;">
							  <div class="form-group">
							    <label>Keyword</label>
							    <select class="form-control" name="Keyword-{{ii}}" [(ngModel)]="action.Keyword" required>
					          <option value="" selected>Choose Keyword ...</option>
					          <optgroup label="Conditional">
					          	<option *ngFor="let t of valueList.keywords.Conditional" [value]="t">{{t}}</option>
					          </optgroup>
					          <optgroup label="Auto">
					          	<option *ngFor="let t of valueList.keywords.Auto" [value]="t">{{t}}</option>
					          </optgroup>
					          <optgroup label="Manual">
					          	<option *ngFor="let t of valueList.keywords.Manual" [value]="t">{{t}}</option>
					          </optgroup>
							    </select>
							  </div>
							  <div class="form-group" *ngIf="getCondition_Target(action)">
							    <label>Target</label>
							    <select class="form-control" name="Target-{{ii}}" [(ngModel)]="action.Target" required>
					          <option value="" selected>Choose Target ...</option>
					          <option *ngFor="let t of getParams_Target(ii,action)" [value]="t">{{t}}</option>
							    </select>
							  </div>
							  <div class="form-group" *ngIf="getCondition_TargetValue(action)">
							    <label>Target Value</label>
							    <select class="form-control" name="TargetValue-{{ii}}" [(ngModel)]="action.TargetValue" required>
					          <option *ngFor="let t of getParams_TargetValue(ii,action)" [value]="t">{{t}}</option>
							    </select>
							  </div>
							  <div class="form-group" *ngIf="getCondition_ValueType(action)">
							    <label>Value Type</label>
							    <select class="form-control" name="ValueType-{{ii}}" [(ngModel)]="action.ValueType" required>
					          <option *ngFor="let t of getParams_ValueType(ii,action)" [value]="t">{{t}}</option>
							    </select>
							  </div>
							  <div class="form-group" *ngIf="getCondition_KeywordValue(action)">
							    <label>Keyword Value</label>
							    <select class="form-control" name="KeywordValue-{{ii}}" [(ngModel)]="action.KeywordValue" required *ngIf="action.ValueType=='Any'">
					          <option *ngFor="let t of getParams_KeywordValue()" [value]="t">{{t}}</option>
							    </select>
							    <input class="form-control" type="number" name="KeywordValue-{{ii}}" min="0" max="100" [(ngModel)]="action.KeywordValue" required *ngIf="action.ValueType=='Percentage'">
							  </div>
							  <div class="form-group" *ngIf="getCondition_ValueMultiple(action)">
							  	<label>Multiple Value</label>
							  	<input class="form-control" type="number" name="ValueMultiple-{{ii}}" [(ngModel)]="action.ValueMultiple" required>
							  </div>
							  <div class="form-group" *ngIf="getCondition_ValueDivide(action)">
							  	<label>Divide Value</label>
							  	<input class="form-control" type="number" name="ValueDivide-{{ii}}" [(ngModel)]="action.ValueDivide" required>
							  </div>
							  <div class="form-group" *ngIf="getCondition_Description(action)">
							    <label>Action Description</label>
							    <textarea class="form-control" placeholder="Action Description" name="ActionDescription-{{ii}}" [(ngModel)]="action.Description" required></textarea>
							  </div>
							</div>
						</div>
	      	</div>
				</ng-container>
	  	</div>
		</form>
	</div>
</ng-container>