<div class="students-wrapper">
	<div *ngIf="isEditMode">
		<div class="widget-label">Invite/Assign Students</div>
    <form (ngSubmit)="onSubmitStudents(f)" #f="ngForm" class="form student-form">
		  <div *ngIf="studentList.length>0">
		  	<div class="students-select-list list-checkbox">
		  		<label *ngFor="let student of studentList;" class="item-checkbox">
		  			<input type="checkbox" name="Student-{{student._id}}" value=true [checked]="student.use" [(ngModel)]="student.use" />{{ student.DisplayName }}
		  		</label>
		  	</div>
		  </div>
		  <div *ngIf="studentList.length==0">
		  	No students to add to class.
		  </div>
		  <div class="form-group">
      	<button type="submit" class="btn-save">Update & Close</button>
      </div>
	  </form>
	</div>
	<div *ngIf="!isEditMode">
		<div class="widget-label">Manage Class <a class="btn-edit" (click)="toggleEditMode()">Edit</a></div>
		<div *ngIf="assignedStudents.length>0 && studentList.length>0">
			<table class="students-table">
				<thead>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Preferred Name</th>
						<th>-</th>
						<th>Info</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let student_id of assignedStudents;">
						<td>{{ studentList[getIndexOfUsers(studentList,student_id)].Name.First }}</td>
						<td>{{ studentList[getIndexOfUsers(studentList,student_id)].Name.Last }}</td>
						<td>{{ studentList[getIndexOfUsers(studentList,student_id)].DisplayName }}</td>
						<td><a href="javascript:void(0);" class="link-remove" (click)="removeStudentFromClass(student_id)">Remove</a></td>
						<td><a [routerLink]="['/classes/student', student_id]">View</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!--<div class="tip-text">
		<p>New students will automatically be added to this class (Test Unit)</p>
		<p>If a new student already exists in the syste, only the Student ID is required. Name and password will be unchanged.</p>
		<p>If unsure, you may enter only the Student ID and then edit the student if such details are missing.</p>
		<p>Students are removed only from the class. (Test Unit)</p>
	</div>-->
</div>

<div class="marktypes-wrapper">
		<div class="widget-label">Mark Types ( {{ marktypes && marktypes.length }} )</div>
		<!-- <div *ngIf="marktypes.length>0"> -->
			<table class="marktypes-table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th width="50px">Multiplier</th>
						<th width="50px">Weeks</th>
						<th width="50px">Minimum Value</th>
						<th width="50px">For Group?</th>
						<th>-</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let marktype of marktypes;" [class.editing]="marktype._id==selectedMarkType._id">
						<td>{{ marktype.Name }}</td>
						<td>{{ marktype.Description }}</td>
						<td>{{ marktype.Multiplier }}</td>
						<td>{{ marktype.Weeks }}</td>
						<td>{{ marktype.MinValue }}</td>
						<td>{{ marktype.ForGroup?'√':'' }}</td>
						<td><a href="javascript:void(0);" class="btn btn-edit" (click)="editMarkType(marktype)">Edit</a><a href="javascript:void(0);" class="btn btn-remove" (click)="removeMarkTypeFromClass(marktype)">Remove</a></td>
					</tr>
					<tr *ngIf="marktypes.length==0">
						<td colspan="6">
							There are no Mark Types for this Class.
						</td>
					</tr>
					<tr class="edit-row">
						<td><input type="text" placeholder="Mark Type Name" [(ngModel)]="selectedMarkType.Name" [class.invalid]="!selectedMarkType.Name"></td>
						<td><input type="text" placeholder="Description ..." [(ngModel)]="selectedMarkType.Description"></td>
						<td><!--<select [(ngModel)]="selectedMarkType.Multiplier"></select>--><input type="number" [(ngModel)]="selectedMarkType.Multiplier" min="0.25" max="10" step="0.25" (keydown)="false"></td>
						<td><input type="number" pattern="[0-9]" min="1" step="1" [(ngModel)]="selectedMarkType.Weeks"></td>
						<td><input type="number" min="3" [(ngModel)]="selectedMarkType.MinValue"></td>
						<td class="text-center"><input type="checkbox" [(ngModel)]="selectedMarkType.ForGroup"></td>
						<td><button class="btn btn-add" (click)="addMarkTypeToClass()" *ngIf="!editingMark">Add</button><button class="btn btn-edit" (click)="updateMarkTypeToClass()" *ngIf="editingMark">Update</button><button class="btn btn-edit" (click)="cancelUpdateMarkTypeToClass()" *ngIf="editingMark">Cancel</button></td>
					</tr>
				</tbody>
			</table>
		<!-- </div> -->
</div>