<ng-container *ngIf="loaded">
	<div class="card">
	  <div class="card-header card-header-text" data-background-color="orange">
	    <h4 class="card-title">Class Students <ng-container *ngIf="assignedStudents.length>0">( {{ assignedStudents.length }} )</ng-container></h4>
	  </div>
	  <div class="card-content">

	  	<ng-container *ngIf="isEditMode">
		    <form (ngSubmit)="onSubmitStudents(f)" #f="ngForm" class="form-horizontal">
			    <button type="submit" class="btn btn-danger pull-right">Done</button>
				  <div *ngIf="studentList.length>0">
				  	<div class="checkbox checkbox-inline" *ngFor="let student of studentList;">
                <label><input name="Student-{{student._id}}" value=true [checked]="student.use" type="checkbox" [(ngModel)]="student.use">{{ student.DisplayName }}</label>&nbsp;&nbsp;
            </div>
				  </div>
				  <div class="text-danger text-center" *ngIf="studentList.length==0">
				  	No students to add to class.
				  </div>
			  </form>
	  	</ng-container>

	  	<ng-container *ngIf="!isEditMode">
		  	<button class="btn btn-success pull-right" (click)="toggleEditMode()"><i class="material-icons">edit</i> Edit</button>

		  	<div class="clearfix"></div>
		  	<div class="table-responsive">
		      <table class="table">
		        <thead class="text-warning">
		          <tr>
		          	<th>First Name</th>
		          	<th>Last Name</th>
		          	<th>Preferred Name</th>
		          	<th>Action</th>
		          </tr>
						</thead>
		        <tbody>
							<tr *ngFor="let student_id of assignedStudents;">
								<td>{{ studentList[getIndexOfUsers(studentList,student_id)].Name.First }}</td>
								<td>{{ studentList[getIndexOfUsers(studentList,student_id)].Name.Last }}</td>
								<td>{{ studentList[getIndexOfUsers(studentList,student_id)].DisplayName }}</td>
								<td class="td-actions">
									<a class="btn btn-info" [routerLink]="['/classes/student', student_id]"><i class="material-icons">person</i></a>
									<button class="btn btn-danger" (click)="removeStudentFromClass(student_id)"><i class="material-icons">close</i></button>
								</td>
		          </tr>
		        </tbody>
		      </table>
	    	</div>
	    	<div class="clearfix">
		    	<div class="col-md-8">
		    		<!-- <div class="form-group"> -->
		    			<label class="control-label">Select a csv/file to import students into this Class</label>
			  			<input type="file" (change)="onFileSelect($event)" accept="text/csv" />
			  		<!-- </div> -->
			  	</div>
			  	<div class="col-md-4">
				  	<button class="btn btn-danger" (click)="importStudentsTo()"><i class="material-icons">edit</i> Import into this Class</button>
		    	</div>
		    </div>
	    </ng-container>
	  </div>
	</div>

	<div class="card">
	  <div class="card-header card-header-text" data-background-color="purple">
	    <h4 class="card-title">Mark Types <ng-container *ngIf="marktypes.length>0">( {{ marktypes.length}} )</ng-container></h4>
	  </div>
	  <div class="card-content">
	  	<div class="table-responsive">
	  		<table class="table">
	  			<thead class="text-primary">
						<th>Name</th>
						<th>Description</th>
						<th width="10%">Multiplier</th>
						<th width="10%">Weeks</th>
						<th width="10%">Minimum Value</th>
						<th>For Group?</th>
						<th class="text-center">Actions</th>
	  			</thead>
	  			<tbody>
						<tr *ngFor="let marktype of marktypes;" [class.warning]="marktype._id==selectedMarkType._id">
							<td>{{ marktype.Name }}</td>
							<td>{{ marktype.Description }}</td>
							<td>{{ marktype.Multiplier }}</td>
							<td>{{ marktype.Weeks }}</td>
							<td>{{ marktype.MinValue }}</td>
							<td>{{ marktype.ForGroup?'Yes':'No' }}</td>
							<td class="td-actions text-center">
								<button class="btn btn-success" (click)="editMarkType(marktype)"><i class="material-icons">edit</i></button>
								<button class="btn btn-danger" (click)="removeMarkTypeFromClass(marktype)"><i class="material-icons">close</i></button>
							</td>
						</tr>
						<tr class="edit-row">
							<td>
                <div class="form-group label-floating">
                  <label class="control-label">Mark Type Name</label>
                  <input type="text" class="form-control" [(ngModel)]="selectedMarkType.Name" required>
                </div>
              </td>
              <td>
                <div class="form-group label-floating">
                  <label class="control-label">Description</label>
                  <input type="text" class="form-control" [(ngModel)]="selectedMarkType.Description" />
                </div>
              </td>
              <td>
                <div class="form-group label-floating">
                  <label class="control-label">Multiplier</label>
    							<input type="number" class="form-control" min="0.25" max="10" step="0.25" [(ngModel)]="selectedMarkType.Multiplier" (keydown)="false" number="true">
                </div>
              </td>
              <td>
                <div class="form-group label-floating">
                  <label class="control-label">Weeks</label>
    							<input type="number" class="form-control" pattern="[0-9]" min="1" step="1" [(ngModel)]="selectedMarkType.Weeks" number="true">
                </div>
              </td>
              <td>
                <div class="form-group label-floating">
                  <label class="control-label">MinValue</label>
    							<input type="number" class="form-control" min="3" [(ngModel)]="selectedMarkType.MinValue" number="true">
                </div>
							</td>
							<td>
                <div class="checkbox"><label><input type="checkbox" [(ngModel)]="selectedMarkType.ForGroup"></label></div>
							</td>
							<td class="text-center">
								<button class="btn btn-success" (click)="addMarkTypeToClass()" *ngIf="!editingMark"><i class="material-icons">add</i>Add</button>
								<button class="btn btn-danger btn-sm pull-right" (click)="cancelUpdateMarkTypeToClass()" *ngIf="editingMark"><i class="material-icons">close</i>Cancel</button>
								<button class="btn btn-warning btn-sm pull-right" (click)="updateMarkTypeToClass()" *ngIf="editingMark"><i class="material-icons">edit</i>Update</button>
							</td>
						</tr>
	  			</tbody>
	  		</table>
	  	</div>
	  </div>
	</div>
</ng-container>
