<div class="students-wrapper">
	<div>
		<div class="widget-label">Manage Class</div>
		<table class="students-table">
			<thead>
				<tr>
					<th>Student Id</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Fav Name</th>
					<th>Password</th>
					<th>Test/Room</th>
					<th>+/-</th>
					<th>Info</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><a href="javascript:void(0)" class="link-add">Add</a></td>
					<td></td>
				</tr>
				<tr>
					<td>1</td>
					<td>Bugs</td>
					<td>Bunny</td>
					<td></td>
					<td></td>
					<td></td>
					<td><a href="javascript:void(0)" class="link-remove">Remove</a></td>
					<td><a [routerLink]="['/classes/student']">View</a></td>
				</tr>
				<tr>
					<td>2</td>
					<td>Daffy</td>
					<td>Duck</td>
					<td></td>
					<td></td>
					<td></td>
					<td><a href="javascript:void(0)" class="link-remove">Remove</a></td>
					<td><a [routerLink]="['/classes/student']">View</a></td>
				</tr>
				<tr>
					<td>6</td>
					<td>Donald</td>
					<td>Duck</td>
					<td></td>
					<td></td>
					<td></td>
					<td><a href="javascript:void(0)" class="link-remove">Remove</a></td>
					<td><a [routerLink]="['/classes/student']">View</a></td>
				</tr>
				<tr>
					<td>5</td>
					<td>Mickey</td>
					<td>Mouse</td>
					<td></td>
					<td></td>
					<td></td>
					<td><a href="javascript:void(0)" class="link-remove">Remove</a></td>
					<td><a [routerLink]="['/classes/student']">View</a></td>
				</tr>
				<tr>
					<td>4</td>
					<td>Bart</td>
					<td>Simpson</td>
					<td></td>
					<td></td>
					<td></td>
					<td><a href="javascript:void(0)" class="link-remove">Remove</a></td>
					<td><a [routerLink]="['/classes/student']">View</a></td>
				</tr>
				<tr>
					<td>3</td>
					<td>Homer</td>
					<td>Simpson</td>
					<td></td>
					<td></td>
					<td></td>
					<td><a href="javascript:void(0)" class="link-remove">Remove</a></td>
					<td><a [routerLink]="['/classes/student']">View</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="tip-text">
		<p>New students will automatically be added to this class (Test Unit)</p>
		<p>If a new student already exists in the syste, only the Student ID is required. Name and password will be unchanged.</p>
		<p>If unsure, you may enter only the Student ID and then edit the student if such details are missing.</p>
		<p>Students are removed only from the class. (Test Unit)</p>
	</div>
</div>