
        <div class="logo">
            <div class="logo-normal">
                <a href="#" class="simple-text text-center">
                    <img src="/assets/images/logo.png" alt="logo" class="logo" />
                </a>
            </div>
            <div class="logo-img">
            </div>
        </div>


        <div class="sidebar-wrapper">

            <div class="user">
                <div class="info">
                    <a data-toggle="collapse" href="#nav-userinfo" class="collapsed">
                        <span>
                            {{ getUserDisplayName() }}
                            <b class="caret"></b>
                        </span>
                    </a>
                    <div class="collapse" id="nav-userinfo">
                        <ul class="nav">
                            <li>
                                <a routerLink="/logout" routerLinkActive="active">
                                    <span class="sidebar-mini"></span>
                                    <span class="sidebar-normal">Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="nav-container">
                <ul class="nav">
                    <li routerLinkActive="active" *ngIf="isTeacher()">
                        <a data-toggle="collapse" href="#nav-classes">
                            <i class="material-icons">directions_run</i>
                            <p>In Class
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="nav-classes">
                            <ul class="nav">
                                <li routerLinkActive="active">
                                    <a  [routerLink]="[menuItems[1].path]">
                                        <span class="sidebar-mini">CC</span>
                                        <span class="sidebar-normal">{{menuItems[1].title}}</span>
                                    </a>
                                </li>
                                <li routerLinkActive="active">
                                    <a  [routerLink]="[menuItems[18].path]">
                                        <span class="sidebar-mini">GS</span>
                                        <span class="sidebar-normal">{{menuItems[18].title}}</span>
                                    </a>
                                </li>
                                <li routerLinkActive="active">
                                    <a  [routerLink]="[menuItems[19].path]">
                                        <span class="sidebar-mini">RC</span>
                                        <span class="sidebar-normal">{{menuItems[19].title}}</span>
                                    </a>
                                </li>
                                <li routerLinkActive="active">
                                    <a  [routerLink]="[menuItems[4].path]">
                                        <span class="sidebar-mini">G</span>
                                        <span class="sidebar-normal">{{menuItems[4].title}}</span>
                                    </a>
                                </li>
                                <li routerLinkActive="active">
                                    <a  [routerLink]="[menuItems[3].path]">
                                        <span class="sidebar-mini">DT</span>
                                        <span class="sidebar-normal">{{menuItems[3].title}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li routerLinkActive="active" *ngIf="isTeacher()">
                        <a data-toggle="collapse" href="#nav-approvals">
                            <i class="material-icons">games</i>
                            <p>Game
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="nav-approvals">
                            <ul class="nav">
                                <li routerLinkActive="active">
                                    <a  [routerLink]="[menuItems[8].path]">
                                        <span class="sidebar-mini">A</span>
                                        <span class="sidebar-normal">{{menuItems[8].title}}</span>
                                    </a>
                                </li>
                                <li routerLinkActive="active">
                                    <a  [routerLink]="[menuItems[7].path]">
                                        <span class="sidebar-mini">MC</span>
                                        <span class="sidebar-normal">{{menuItems[7].title}}</span>
                                    </a>
                                </li>
                                <li routerLinkActive="active">
                                    <a  [routerLink]="[menuItems[14].path]">
                                        <span class="sidebar-mini">MP</span>
                                        <span class="sidebar-normal">{{menuItems[14].title}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li routerLinkActive="active" *ngIf="isTeacher()">
                        <a data-toggle="collapse" href="#nav-account">
                            <i class="material-icons">verified_user</i>
                            <p>Admin
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="nav-account">
                            <ul class="nav">
                                <li routerLinkActive="active">
                                    <a  [routerLink]="[menuItems[2].path]">
                                        <span class="sidebar-mini">CM</span>
                                        <span class="sidebar-normal">{{menuItems[2].title}}</span>
                                    </a>
                                </li>
                                <li routerLinkActive="active">
                                    <a  [routerLink]="[menuItems[5].path]">
                                        <span class="sidebar-mini">MM</span>
                                        <span class="sidebar-normal">{{menuItems[5].title}}</span>
                                    </a>
                                </li>
                                <li routerLinkActive="active" *ngIf="isConvenor()">
                                    <a  [routerLink]="[menuItems[0].path]">
                                        <span class="sidebar-mini">SM</span>
                                        <span class="sidebar-normal">{{menuItems[0].title}}</span>
                                    </a>
                                </li>
                                <li routerLinkActive="active">
                                    <a  [routerLink]="[menuItems[17].path]">
                                        <span class="sidebar-mini">P</span>
                                        <span class="sidebar-normal">{{menuItems[17].title}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li routerLinkActive="active" *ngIf="isStudent()">
                        <a data-toggle="collapse" href="#nav-class">
                            <i class="material-icons">playlist_add_check</i>
                            <p>In Class
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="nav-class">
                            <ul class="nav">
                                <li routerLinkActive="active">
                                    <a  [routerLink]="[menuItems[10].path]">
                                        <span class="sidebar-mini">CL</span>
                                        <span class="sidebar-normal">{{menuItems[10].title}}</span>
                                    </a>
                                </li>
                                <li routerLinkActive="active">
                                    <a  [routerLink]="[menuItems[11].path]">
                                        <span class="sidebar-mini">DT</span>
                                        <span class="sidebar-normal">{{menuItems[11].title}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li routerLinkActive="active" *ngIf="isStudent()">
                        <a data-toggle="collapse" href="#nav-cardgame">
                            <i class="material-icons">games</i>
                            <p>Game
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="nav-cardgame">
                            <ul class="nav">
                                <li routerLinkActive="active">
                                    <a  [routerLink]="[menuItems[12].path]">
                                        <span class="sidebar-mini">CG</span>
                                        <span class="sidebar-normal">{{menuItems[12].title}}</span>
                                    </a>
                                </li>
                                <li routerLinkActive="active">
                                    <a  [routerLink]="[menuItems[16].path]">
                                        <span class="sidebar-mini">P</span>
                                        <span class="sidebar-normal">{{menuItems[16].title}}</span>
                                    </a>
                                </li>
                                <li routerLinkActive="active">
                                    <a  [routerLink]="[menuItems[15].path]">
                                        <span class="sidebar-mini">M</span>
                                        <span class="sidebar-normal">{{menuItems[15].title}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li routerLinkActive="active" *ngIf="isStudent()">
                        <a data-toggle="collapse" href="#nav-social">
                            <i class="material-icons">people</i>
                            <p>Social
                                <b class="caret"></b>
                            </p>
                        </a>
                        <div class="collapse" id="nav-social">
                            <ul class="nav">
                                <li routerLinkActive="active">
                                    <a  [routerLink]="[menuItems[13].path]">
                                        <span class="sidebar-mini">S</span>
                                        <span class="sidebar-normal">{{menuItems[13].title}}</span>
                                    </a>
                                </li>
                                <li routerLinkActive="active">
                                    <a  [routerLink]="[menuItems[9].path]">
                                        <span class="sidebar-mini">P</span>
                                        <span class="sidebar-normal">{{menuItems[9].title}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
