<div class="page-gt-classes">
	<div class="header text-center">
		<h3 class="title text-info" *ngIf="currentClass">{{ currentClass.Name }} ( {{ currentClass.DateTime | date : 'EEE h:mma' }} at {{ currentClass.Room }} )</h3>
		<p class="category" *ngIf="currentClass">Currently Selected Class</p>
		<p class="category" *ngIf="!currentClass">None selected</p>
		<ng-container *ngIf="!checkCurrentRoute()">
			<a class="btn" [routerLink]="['/classes/choose']">Change Class</a>
		</ng-container>
	</div>
	<router-outlet></router-outlet>
</div>