<div class="class-groups">
	<div class="groups-control" *ngIf="Groups.length==0">
		<div class="row">
	    <form (ngSubmit)="onSubmitGroups(f)" #f="ngForm" class="form group-form col-md-4 col-md-offset-4">
			  <div class="form-group">
			    <label>Groups Count</label>
			    <input type="number" class="form-control" placeholder="Group Count" name="Groups" [(ngModel)]="model.Groups" required>
			  </div>
			  <div class="form-group">
			    <label>Members Count</label>
			    <input type="number" class="form-control" placeholder="Member Count" name="Members" [(ngModel)]="model.Members" required>
			  </div>
			  <div class="form-group">
	      	<button type="submit" [disabled]="!f.form.valid || model.Groups==0 || model.Members==0" class="btn-save">Create Groups</button>
	      </div>
		  </form>
		</div>
	</div>
	<div class="groups-reset-controller text-center" *ngIf="Groups.length>0">
		<button class="btn-reset" (click)="resetGroups()" [disabled]="currentClass.Tasks.length>0">Reset Groups</button>
		<!--<button class="btn-reset" (click)="resetGroups()">Reset Groups</button>-->
	</div>
	<div class="groups-list" *ngIf="Groups.length>0 && this.GroupsLoaded">
		<div class="group-item" *ngFor="let group of Groups;">
			<div class="group-info">
				<!-- <div class="group-status">
					<div class="group-name-wrapper"><span class="group-name-label">Group</span><span class="group-name">{{ group.Title }}</span></div>
					<div class="group-score-wrapper"><span class="group-score-label">Score</span><span class="group-score">0.0</span></div>
				</div>
				<div class="group-member">
					<div class="group-member-item" *ngFor="let st of group.Students;">{{ studentList[getIndexOfUsers(studentList, st)].DisplayName }}</div>
				</div> -->
				<div class="group-status">
					<span class="group-name-label">Group</span><span class="group-name">{{ group.Title }}</span><span class="group-score">{{ getGroupTotalPoints(group)}}</span><span class="group-score">{{ getGroupTotalMarks(group)}}</span>
				</div>
			</div>
			<div class="group-member-photos" [dragula]='"students-bag"' [dragulaModel]='group.Students' id="{{ group._id }}">
				<div class="group-member-photo" *ngFor="let st of group.Students;" id="{{ st }}">
					<span class="handle-wrapper"><i class="fa fa-arrows handle" aria-hidden="true"></i></span>
					<img src="{{ getServerAssetUrl(studentList[getIndexOfUsers(studentList, st)].DisplayPicture) }}" alt="{{ studentList[getIndexOfUsers(studentList, st)].DisplayName }}" draggable="false" />
					<span class="group-member-name">{{ studentList[getIndexOfUsers(studentList, st)].DisplayName }}</span>
				</div>
			</div>
		</div>
	</div>
</div>