<ng-container *ngIf="loaded">
	<ng-container *ngIf="Groups.length==0">
		<div class="groups-control">
			<div class="row">
		    <form (ngSubmit)="onSubmitGroups(f)" #f="ngForm" class="form group-form col-md-4 col-md-offset-4 text-center" name="creategroup">
	        <div class="form-group label-floating">
	          <label class="control-label">Groups Count</label>
						<input type="number" class="form-control" min="2" name="Groups" [(ngModel)]="model.Groups" number="true" required>
	        </div>
				  <div class="form-group">
		      	<button type="submit" [disabled]="!f.form.valid || model.Groups==0 || model.Members==0" class="btn btn-primary">Create Groups</button>
		      </div>
			  </form>
			</div>
		</div>
	</ng-container>
	<ng-container *ngIf="Groups.length>0">
		<div class="text-center">
			<button class="btn btn-danger" (click)="resetGroups()"><i class="material-icons">close</i> Reset Groups</button>
		</div>
		<div class="class-groups">
			<div class="groups-list">
				<div class="group-item" *ngFor="let group of Groups; let ii=index">
					<div class="card">
					  <div class="card-header card-header-icon" data-background-color="red">
					    <h4 class="card-title">{{ group.Title }}</h4>
					  </div>
					  <div class="card-content">
					  	<h4 class="card-title"><span>Point: <span class="text-danger">{{ getGroupTotalPoints(group)}}</span></span><span class="pull-right">Marks: <span class="text-danger">{{ getGroupTotalMarks(group)}}</span></span></h4>
							<div class="group-member-photos" [dragula]='"students-bag"' [dragulaModel]='group.Students' id="{{ group._id }}">
								<div class="group-member-photo" *ngFor="let st of group.Students;" id="{{ st }}">
									<span class="handle-wrapper"><i class="fa fa-arrows handle" aria-hidden="true"></i></span>
									<img src="{{ getServerAssetUrl(studentList[getIndexOfUsers(studentList, st)].DisplayPicture) }}" alt="{{ studentList[getIndexOfUsers(studentList, st)].DisplayName }}" draggable="false" />
									<span class="group-member-name" (click)="viewPlayerProfile(st)">{{ studentList[getIndexOfUsers(studentList, st)].DisplayName }}</span>
								</div>
							</div>
							<div class="group-quick-mark-box">
			    			<form (ngSubmit)="'[onSubmitMarkGroup(mg'+ii+')]'" #mg="ngForm" name="givemark">
			    				<div class="row">
			    					<div class="col-md-6">
					            <div class="form-group">
					              <label class="control-label">Group</label>
										    <select name="markModel-group" required class="form-control">
										    	<option value="">Select a Group...</option>
										    	<option *ngFor="let group of Groups;" [value]="group._id">{{ group.Title }}</option>
										    </select>
					            </div>
					          </div>
					          <div class="col-md-6">
										  <div class="form-group">
										    <label class="control-label">Week</label>
										    <select name="markModel-week" required class="form-control">
										    	<option value="0">Select Week</option>
										    	<option *ngFor="let w of week_numbers;" [value]="w">{{ w }}</option>
										    </select>
										  </div>
										</div>
										<div class="col-md-6">
										  <div class="form-group">
										    <label class="control-label">Mark Type</label>
										    <select name="markModel-marktype" required class="form-control">
										    	<option value="">Select Mark Type</option>
										    	<option *ngFor="let marktype of groupmarktypes;" [value]="marktype._id">{{ marktype.Name }}</option>
										    </select>
										  </div>
										</div>
										<div class="col-md-6">
										  <div class="form-group">
										    <label class="control-label">Mark Value</label>
										    <input type="number" class="form-control" placeholder="Mark Value" name="markModel-value" required>
										  </div>
										</div>
										<div class="col-lg-12 text-center">
										  <div class="form-group">
								      	<button type="submit" [disabled]="!mg.form.valid" class="btn btn-rose">Set Mark</button>
								      </div>
								    </div>
							    </div>
			          </form>
							</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="card">
				  <div class="card-header card-header-text" data-background-color="rose">
				    <h4 class="card-title">Give the Group Mark</h4>
				  </div>
				  <div class="card-content">
	    			<form (ngSubmit)="onSubmitMarkGroup(mg)" #mg="ngForm" name="givemark">
	    				<div class="row">
	    					<div class="col-md-6">
			            <div class="form-group">
			              <label class="control-label">Group</label>
								    <select [(ngModel)]="markModel.group" name="markModel-group" required class="form-control">
								    	<option value="">Select a Group...</option>
								    	<option *ngFor="let group of Groups;" [value]="group._id">{{ group.Title }}</option>
								    </select>
			            </div>
			          </div>
			          <div class="col-md-6">
								  <div class="form-group">
								    <label class="control-label">Week</label>
								    <select [(ngModel)]="markModel.week" name="markModel-week" required class="form-control">
								    	<option value="0">Select Week</option>
								    	<option *ngFor="let w of week_numbers;" [value]="w">{{ w }}</option>
								    </select>
								  </div>
								</div>
								<div class="col-md-6">
								  <div class="form-group">
								    <label class="control-label">Mark Type</label>
								    <select [(ngModel)]="markModel.marktype" name="markModel-marktype" required class="form-control">
								    	<option value="">Select Mark Type</option>
								    	<option *ngFor="let marktype of groupmarktypes;" [value]="marktype._id">{{ marktype.Name }}</option>
								    </select>
								  </div>
								</div>
								<div class="col-md-6">
								  <div class="form-group">
								    <label class="control-label">Mark Value</label>
								    <input type="number" class="form-control" placeholder="Mark Value" [(ngModel)]="markModel.value" name="markModel-value" required>
								  </div>
								</div>
								<div class="col-lg-12 text-center">
								  <div class="form-group">
						      	<button type="submit" [disabled]="!mg.form.valid || !markModel.group || !markModel.week" class="btn btn-rose">Set Mark</button>
						      </div>
						    </div>
					    </div>
	          </form>
				  </div>
				</div>
			</div>
		</div>
	</ng-container>
</ng-container>