<ul class="top-menu menu-convenor">
	<li>
		<a routerLink="/staff" routerLinkActive="active">Staff Management</a>
	</li>
	<li>
		<a routerLink="/classes" routerLinkActive="active">Classes</a>
		<ul class="sub-menu">
			<li>
				<a routerLink="/classes/classes/classes" routerLinkActive="active">Choose a Class</a>
			</li>
			<li>
				<a routerLink="/classes/student" routerLinkActive="active">Student</a>
			</li>
			<li>
				<a routerLink="/classes/tasks" routerLinkActive="active">Tasks</a>
			</li>
			<li>
				<a routerLink="/classes/groups" routerLinkActive="active">Groups</a>
			</li>
			<li>
				<a routerLink="/classes/rollcall" routerLinkActive="active">Roll Call</a>
			</li>
		</ul>
	</li>
	<li>
		<a routerLink="/approvals" routerLinkActive="active">Approvals</a>
	</li>
	<li>
		<a routerLink="/admin" routerLinkActive="active">Admin</a>
	</li>
</ul>